{{>header_member}}

<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">  </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">                            
                            <!-- BEGIN MODALS FOR EDIT-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3" style="padding-right: 0px;">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <div class="profile-sidebar">
                                            <!-- PORTLET MAIN -->
                                            <div class="portlet light profile-sidebar-portlet ">

                                                <!-- SIDEBAR MENU -->
                                                <div class="profile-usermenu">
                                                    <ul class="nav">
                                                        <li class="active">
                                                            <a href="{{url}}/posts/getRequests">
                                                            <img alt="" class="icon_size" src="{{url}}/images/my_requests.png">
                                                                My Requests ({{req_count}})</a>
                                                                <hr class="long_length">
                                                            </li>
                                                            <!-- <li>
                                                                <a href="javascript:;">
                                                                <img alt="" class="icon_size" src="{{url}}/images/my_docs.png">

                                                                    My docs </a>
                                                                    <hr class="long_length">
                                                                </li> -->
                                                                <li>
                                                                    <a href="{{url}}/posts/get_bookmarked" style="margin-left: 2px;">
                                                                        <img alt="" class="icon_size" src="{{url}}/images/my_bookmarked_items.png"> My Bookmarked Items ({{bookmarks_count}})</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- END MENU -->
                                                        </div>
                                                        <!-- END PORTLET MAIN -->
                                                        <!-- PORTLET MAIN -->
                                                        <div class="portlet light ">                                    
                                                            <div>
                                                                <h3 class="profile-desc-title">Advert</h3>
                                                            </div>
                                                        </div>
                                                        <!-- END PORTLET MAIN -->
                                                    </div>
                                                    <!-- END BEGIN PROFILE SIDEBAR -->
                                                </div>

                                                <div class="col-md-6">
                                                   
            <div class="panel panel-default portlet" >
              <div class="panel-body" style="width: 100%;">
                <div class="posts_top_actions_left">
                    <span class="posts_page_title">{{page_title}}</span>
                </div>
                
                <div class="posts_top_actions_right">
                    <a class="page_top_actions" onclick="modalLoader('question','new','');">Ask a question</a>&nbsp;|&nbsp;

                    <a class="page_top_actions" onclick="modalLoader('article','new','');">Write an article</a>&nbsp;|&nbsp;

                    <a class="page_top_actions" onclick="modalLoader('riddle','new','');">Post a riddle</a>&nbsp;|&nbsp;

                    <a class="page_top_actions" onclick="modalLoader('pab','new','');">Post a book</a>
                   
                </div>
                <div class="clearfix"></div>
              </div>
            </div>  

                                                    

        <div class="question_all_post_area {{class_type}}"> 

        {{#each data}}

            <div class="portlet light posted">
             <input type="hidden" id="post_id" value="{{_id}}">
             <input type="hidden" id="post_type" value="{{post_type}}">
             <input type="hidden" id="post_owner_id" value="{{owner.id}}">

                <div class="portlet-title" {{#if notice_status}} style="background-color:#5F84CF;" {{/if}}>
                    <div class="caption caption-md">
                        
                        <span {{#if notice_status}} style="color:  #fff;" {{/if}} class="caption-subject  bold post_box_name">{{post_type}}</span>

                        {{#if category}}
                        <span class="caption-helper post_category grey_cats left_border" {{#if notice_status}} style="color: #fff !important;" {{/if}} >{{category}}</span>
                        {{/if}}

                        {{#unless notice_status}}

                            {{#if sub_cat1}}
                            <span class="caption-helper post_sub_cat1 grey_cats left_border">{{sub_cat1}}</span>
                            {{/if}}

                            {{#if sub_cat2}}
                            <span class="caption-helper post_sub_cat2 grey_cats left_border">{{sub_cat2}}</span>
                            {{/if}}

                        {{/unless}}
                        
                    </div>
                       
                </div>

    <div class="portlet-body" style="padding-top: 0px;">
        <div class="" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
            <div class="general-item-list">
                <div class="item">
                    <div class="item-head">

                        <div style="width: 100%;"><!--main block-->
                            <div class="posts_partition"><!--1st partition-->
                            
                                <div style="width: 100%;">
                                {{#unless trend_status}}<!--if not trend post attach profile link-->
                                <a href="{{../url}}/profile/{{owner.id}}">
                                {{/unless}}
                                    <div class="section_posts_avatar">
                                       <img class="icon_size_50 img-circle" src="{{../url}}/{{owner.displayPic}}">
                                    </div>
                                    {{#unless trend_status}}<!--trend post-->
                                    </a>
                                    {{/unless}}

                                    <div class="section_posts_text">
                                        <div> 
                                        {{#if trend_status}}
                                         <a style="font-weight: 600;" href="javascript:;" class="item-name">{{owner.displayName}}</a>
                                         {{else}}
                                         <a style="font-weight: 600;" href="{{../url}}/profile/{{owner.id}}" class="item-name">{{owner.displayName}}</a>
                                         {{/if}}
                                         </div>

                                         {{#if owner.status}}
                                         {{#unless trend_status}}<!--if not trend post attach profile link-->
                                            <a href="{{../url}}/profile/{{owner.id}}">
                                            {{/unless}}
                                            <div class="post_item_body_status">

                                            {{owner.status}}
                                            </div>
                                            {{#unless trend_status}}<!--trend post-->
                                            </a>
                                            {{/unless}}
                                          {{/if}}
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                
                            </div>

                        <div class="posts_partition_middle"><!--2nd partition-->
                            <span>
                                {{#if trend_status}}<!--trend post-->
                                        {{#if trend_followed}}
                                            <img class="icon_size_50 " src="{{../url}}/images/filler.png">
                                        {{else}}
                                        <a href="javascript:;" class="btn blue" style="padding: 2px;">
                                            <i class="fa fa-plus"></i>&nbsp; Follow</a>

                                        {{/if}}
                                {{else}}<!--other post:questio etc-->
                                        {{#if (eq friend_status 'friend')}}
                                            <img class="" src="{{../url}}/images/filler.png">
                                            {{else}}
                                                {{#if (eq friend_status 'Pending')}}
                                                <span class="post_box_name">Pending Friend Request</span>
                                                {{else}}
                                                <img class="icon_size_20 send_friend_req" src="{{../url}}/images/add_person.png">
                                            {{/if}}
                                        {{/if}}

                                {{/if}}
                                            
                            </span>
                        </div>
                        <div class="posts_partition"><!--3rd partition-->
                            <div class="pull-right">
                                 <div class="fromnow">{{moment post_date "fromNow"}}</div>
                                    <div class="clearfix"></div>
                                    <div class="post_actions_button_left">
                                        <!-- <img class="icon_size_20" src="{{../url}}/images/mask.png"> -->
                                    </div>
                                {{#if post_owner}}
                                 <div class="actions post_actions_button" >
                                        <div class="btn-group">
                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                            <ul class="dropdown-menu pull-right">
                                                <li class="edit_section_item">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-pencil"></i> Edit </a>
                                                </li>
                                                <li class="delete_section_item">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-trash-o"></i> Delete </a>
                                                </li>
                                                
                                                {{#if question_status}}
                                                <li class="new_request_item">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-share-square-o"></i> Request for answer </a>
                                                </li>  
                                                {{/if}}

                                                {{#if art_status}}
                                                <li class="new_request_item">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-share-square-o"></i> Request for review </a>
                                                </li>  
                                                {{/if}} 

                                                {{#if riddle_status}}
                                                <li class="new_request_item">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-share-square-o"></i> Request for solution </a>
                                                </li>  
                                                {{/if}} 

                                                {{#if notice_status}}
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-share-alt"></i> Share</a>
                                                </li>  
                                                {{/if}}                          
                                            </ul>
                                        </div>                                           
                                </div>
                                {{else}}
                                <div class="actions post_actions_button">
                                        <div class="btn-group">
                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </span>
                                            <ul class="dropdown-menu pull-right">
                                                {{#if followed_post}}
                                                <li class="un_follow_section_item">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-minus-square"></i> Unfollow </a>
                                                    </li>
                                                    
                                                {{else}}
                                                    <li class="follow_section_item">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-plus-square"></i> Follow </a>
                                                    </li>
                                                {{/if}}
                                                {{#unless bookmarked_post}}
                                                <li class="bookmark_section_item">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-bookmark"></i> Bookmark </a>
                                                </li>
                                                {{/unless}}
                                                <li class="">
                                                    <a href="javascript:;">
                                                        <img class="icon_size_20" src="{{../url}}/images/mask.png"> Mask </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <i class="fa fa-ban"></i> Report Abuse </a>
                                                </li>
                                            </ul>
                                        </div>                                           
                                </div>
                                {{/if}}
                            </div><!--end float right-->
                            <div class="clearfix"></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>                                      
                                        

                    </div>
                    <!--lots of if blocks here
                    not best practice but will do
                     using if to negate notice boards-->
                        {{#if pab_status}}<!--chk for books-->

                    <div class="item-body"> 
                    <div style="width: 100%; color: #000;">

                        <div class="posts_pab_itemimage">
                        {{#if pics}}
                            <img class="img-responsive" src="{{../url}}/{{pics.[0]}}">
                            {{else}}
                            <img class="img-responsive" src="{{../url}}/images/default_img.png">
                        {{/if}}
                        
                        </div>

                        <div class="posts_pab_itemright">
                            <div>
                            {{#if body}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">Title:</div>
                                <div class="posts_pab_itemdetails pab_ititle" style="font-weight: 600;">{{body}}</div>
                            </div>
                            {{/if}}
                            {{#if author}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">Author:</div>
                                <div class="posts_pab_itemdetails pab_iauthor">{{author}}</div>
                            </div>
                            {{/if}}
                            {{#if pages}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">Pages:</div>
                                <div class="posts_pab_itemdetails pab_ipages">{{pages}}</div>
                            </div>
                            {{/if}}
                            {{#if amount}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">Price:</div>
                                <div class="posts_pab_itemdetails pab_iamount">N{{amount}}</div>
                            </div>
                            {{/if}}

                            {{#if isbn}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">ISBN:</div>
                                <div class="posts_pab_itemdetails pab_iISBN">{{isbn}}</div>
                            </div>
                            {{/if}}

                            {{#if publishers}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">Publisher:</div>
                                <div class="posts_pab_itemdetails pab_ipublishers">{{publishers}}</div>
                            </div>
                            {{/if}}

                            {{#if bookshop}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">Bookshop:</div>
                                <div class="posts_pab_itemdetails pab_ibookshop">{{bookshop}}</div>
                            </div>
                            {{/if}}

                            {{#if url}}
                            <div class="posts_pab_itemright_row">
                                <div class="posts_pab_itemtitle">Url:</div>
                                <div class="posts_pab_itemdetails pab_iurl">{{url}}</div>
                            </div>
                            {{/if}}

                            </div>
                        </div>

                        <div class="clearfix"></div>
                                            
                        </div>

                        <div style="width: 100%; color: #000;padding: 2%;">
                            <div class="">


                              <ul class="nav nav-tabs navbar-right">
                                <li class="active"><a data-toggle="tab" href="#synopsis{{@index}}">SYNOPSIS</a></li>
                                <li><a data-toggle="tab" href="#about_author{{@index}}">ABOUT THE AUTHOR</a></li>
                              </ul>
                              <div class="clearfix"></div>

                              <div class="tab-content">
                                <div id="synopsis{{@index}}" class="tab-pane fade in active">
                                  <p class="pab_isynopsis">{{{synopsis}}}</p>
                                </div>
                                <div id="about_author{{@index}}" class="tab-pane fade">
                                  <p class="pab_iabout_author">{{{about_author}}}</p>
                                </div>
                                
                              </div>
                            </div>
                        </div>


                                        
                        </div>  
                {{else}}<!--else : chk for books-->
                
                {{#if notice_status}}<!-- start else part of books by chking for notices-->

                    <div class="item-body"> 
                        <div class="post_item post_item_topic" style="text-align: center;text-transform: uppercase;">
                         {{sub_cat1}}
                        </div>
                        <hr class="short_length">

                            {{#if topic}}
                                <div class="post_item post_item_topic">
                                    {{{topic}}}
                                </div>
                            {{/if}}

                            {{#if pics.length }}
                                <div style="margin-bottom: 3%;">                                                                  
                                    <img class="img-responsive" src="{{../url}}/{{pics.[0]}}">
                                </div>
                            {{/if}}

                                <div class="post_item post_item_body">
                                    {{{body}}}
                                
                                </div>
                            
                    </div> <br>

                {{else}}

                        <!--start other posts:quests,arts,ridds,trends-->
                    <div class="item-body"> 
                        {{#if topic}}
                            <div class="post_item post_item_topic">
                                {{{topic}}}
                            </div>
                        {{/if}}

                        {{#if pics.length }}
                            <div style="margin-bottom: 3%;">                                                                  
                                <img class="img-responsive" src="{{../url}}/{{pics.[0]}}">
                            </div>
                        {{/if}}

                        {{#if art_status}}
                        <hr class="short_length">
                        <div class="post_item post_item_body">
                        {{else}}
                        <div class="post_item post_item_topic">
                        {{/if}}
                        {{{body}}}
                    
                    </div>
                                                    

                        {{#if description}}
                    <hr class="short_length">
                    <div class="post_item post_item_more_info">
                        {{{description}}}
                    </div>
                        {{/if}}
                
            </div> <br><!--end other posts:quests,arts,ridds,trends-->


                {{/if}}
                


    {{/if}}<!--end if :chk for books-->

    <div style="width: 100%;"><!--main block-->
    <!-- <hr class="long_length"> -->

    <div class="pull-left">

    {{#if art_status}}
        <!--if page is article, chek for attachemnt-->
        {{#if attachment}}
        <input type="hidden" class="download_input_field" value="{{attachment}}">
         <a type="button" class="btn dark btn-outline sbold uppercase download_button"><i class="fa fa-cloud-download"></i>&nbsp;Download</a>                       
        {{/if}}

    {{/if}}


    </div>

    {{#if notice_status}}<!-- partition_right : chking for notices-->

        <div class="posts_partition_right"><!--3rd partition-->

            <a class="btn btn-link ">
                <span class="grey_button">
                    <span class="social_value">{{views}}</span>&nbsp;
                    Views
                </span>
            </a>

        </div>
    

    {{else}}<!-- else partition_right : display for other options-->

        <div class="posts_partition_right"><!--3rd partition-->

            <a class="btn btn-link post_likes">
            <span class="grey_button">
                <span class="social_value ">{{likes.length}}</span>
                <i class="fa fa-heart-o"></i>&nbsp;Likes
            </span>
            </a>

            <a class="btn btn-link ">
            <span class="grey_button">
                {{#if question_status}}
                 <span class="social_value">{{answers_len}}</span>
                <!-- <i class="fa fa-comment-o"></i>&nbsp; -->
                <img class="icon_size_20" src="{{../url}}/images/comments.png">&nbsp;
                Answers
                {{/if}}

                {{#if pab_status}}
                <span class="social_value">{{comments_len}}</span>
                <img class="icon_size_20" src="{{../url}}/images/comments.png">&nbsp;Comments
                {{/if}}

                {{#if trend_status}}
                <span class="social_value">{{comments_len}}</span>
                <img class="icon_size_20" src="{{../url}}/images/comments.png">&nbsp;Comments
                {{/if}}

                {{#if art_status}}
                <span class="social_value">{{answers_len}}</span>
                <img alt="" class="icon_size_15" src="{{../url}}/images/reviews.png">&nbsp;
                Reviews
                {{/if}}

                {{#if riddle_status}}
                <span class="social_value">{{answers_len}}</span>
                <img class="icon_size_20" src="{{../url}}/images/comments.png">
                <!-- <img alt="" class="icon_size_15" src="{{../url}}/images/solution.png">&nbsp; -->
                Solution
                {{/if}}
            </span>
            </a>

            <a class="btn btn-link post_shares">
                <span class="item-label grey_button">
                    <span class="social_value">{{shares}}</span>
                    <i class="fa fa-share-alt"></i>&nbsp;
                    Shares                                
                </span>
            </a>

    </div>
    
    {{/if}}
                                        

                        <div class="clearfix"></div>
                    </div>
                    <hr class="long_length">


                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET -->

    {{#if notice_status}}<!-- task-footer : chking for notices-->

        <div class="task-footer" style="">
            {{#ifEquals 'notification' sub_cat2}}

                <div class="btn-arrow-link ">
                     <a class="btn btn-link post_likes">
                        <span class="grey_button">
                            <span class="social_value ">{{likes.length}}</span>
                            <i class="fa fa-heart-o"></i>&nbsp;Likes
                        </span>
                    </a>

                    <a class="btn btn-link ">
                        <span class="grey_button">
                            <span class="social_value">{{comments_len}}</span>
                            <img class="icon_size_20" src="{{../url}}/images/comments.png">&nbsp;Comments
                        </span>
                    </a>

                    <a class="btn btn-link post_shares">
                        <span class="item-label grey_button">
                            <span class="social_value">{{shares}}</span>
                            <i class="fa fa-share-alt"></i>&nbsp;
                            Shares                                
                        </span>
                    </a>                        
                </div>
                {{else}}

                <div class="btn-arrow-link ">
                     <a class="btn btn-link post_likes">
                        <span class="grey_button">
                            <span class="social_value post_attending">{{attending.length}}</span>
                            <img class="icon_size_20" src="{{../url}}/images/attending.png">&nbsp;Attending
                        </span>
                    </a>

                    <a class="btn btn-link ">
                        <span class="grey_button">
                            <span class="social_value post_not_attending">{{not_attending.length}}</span>
                            <img class="icon_size_20" src="{{../url}}/images/not_attending.png">&nbsp;Not Attending
                        </span>
                    </a>

                    <a class="btn btn-link ">
                        <span class="grey_button">
                            <span class="social_value">{{comments_len}}</span>
                            <img class="icon_size_20" src="{{../url}}/images/comments.png">&nbsp;Comments
                        </span>
                    </a>                        
                </div>



            {{/ifEquals}}
                
            </div>


    {{else}}<!--else task-footer : chking for pab-->

        <div class="task-footer" style="">
            <div class="btn-arrow-link ">
            {{#unless pab_status}}

                {{#if page_response}}
                <a class=" sbold response_button">
                <i class="fa fa-edit"></i>&nbsp;Write your {{page_response}}</a>
                {{/if}}                            
            {{/unless}}
            </div>
        </div>

    {{/if}}<!--end task-footer-->
   
    
    <div class="clearfix"></div>

</div>
{{/each}}

    </div><!--end post-->


</div><!--end question_all_post_area-->

        <div class="col-md-3"><!--third-->
        <div class="row">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">See What is Trending Now</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                {{#each data_trend}}
                                    <li>
                                        <a href="{{url}}/posts/section/trend/single/{{_id}}">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm">

                                                    {{#if pics}}
                                                        <img class="icon_size" src="{{../url}}/{{category_icon}}">
                                                        {{else}}
                                                        <img class="icon_size" src="{{../url}}/images/trending.png">
                                                    {{/if}}
                                                        
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> {{excerpt}} ...(more) </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date" style="text-transform: capitalize;"> - {{category}} </div>
                                        </div>
                                        </a>
                                    </li>
                                    {{/each}}
                                                                                                 

                                </ul>
                            </div>
                        </div>

                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <!-- END PORTLET -->
        </div>

        <div class="row">
            <!-- BEGIN PORTLET -->
            <div class="portlet light  tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Check Domiit's Experts</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test" />
                                        <input type="checkbox" class="liChild" name="test" /> </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Dr. Samuel Joseph </span>
                                            <span class="label label-sm label-success">Follow</span>

                                        </div>

                                    </li>
                                    <li>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="liChild" value="" /> </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> Mr. Jonathan Eboh </span>
                                                <span class="label label-sm label-success">Follow</span>
                                            </div>                                                                
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" /> </div>
                                                <div class="task-title">
                                                    <span class="task-title-sp"> Bellow Umaru </span>
                                                    <span class="label label-sm label-success">Follow</span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="task-checkbox">
                                                    <input type="checkbox" class="liChild" value="" /> </div>
                                                    <div class="task-title">
                                                        <span class="task-title-sp"> Titus Bradley </span>
                                                        <span class="label label-sm label-success">Follow</span>
                                                    </div>
                                                </li>

                                            </ul>
                                            <!-- END START TASK LIST -->
                                        </div>
                                    </div>
                                    <div class="task-footer">
                                        <div class="btn-arrow-link pull-right">
                                            <a href="javascript:;">See All Tasks</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="portlet light  tasks-widget">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">Adverts</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="task-content">
                                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>

                                    </div>  



                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>

            <!-- START MODAL PORTLET-->

            

        

            <!-- END MODAL PORTLET-->
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>

            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {{>footer_cms}}

        <script type="text/javascript">

        
            $( document ).ready( function () {


            });

        </script>


    </body>

</html>