{{>header_cms}}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="#">Dashboard</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Category >></span>
                            </li>
                            <li>
                                <span>Sub Category-1>></span>
                            </li>
                            <li>
                                <span>Sub Category-2</span>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
<!--                <h3 class="page-title"> Dashboard 
                        <small>Unit Prices & statistics</small>
                    </h3>-->
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-md-12">
                                    <!-- BEGIN BORDERED TABLE PORTLET-->
                                    <div class="portlet light portlet-fit ">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="caption-subject font-red sbold uppercase">Sub Category-2</span>&nbsp;&nbsp;
                                            </div>
                                            <div class="row">                                                
                                                <div class="btn-group">
                                                    <a data-toggle="modal" onclick="modalLoader('{{item}}','new','sub2');" class="btn btn-default">
                                                        <i class="fa fa-plus"></i> New</a>
                                                    <!-- <a class="btn btn-default">
                                                        <i class="fa fa-pencil"></i> Edit</a>
                                                    <a class="btn btn-default">
                                                        <i class="fa fa-eye"></i> View</a> -->                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-scrollable table-scrollable-borderless">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr class="uppercase">
                                                            <th> # </th>          
                                                            <th> Category </th>
                                                            <th> Sub Category-1 </th>
                                                            <th> Title </th>
                                                            <th> Description </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {{#each sub2_data}}
                                                        <tr>
                                                            <td> {{counter @index}}</td>
                                                            <td> {{category}} </td>
                                                            <td> {{sub1}} </td>
                                                            <td> {{title}} </td>
                                                            <td> {{description}} </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END BORDERED TABLE PORTLET-->
                                </div>                               
                        
                    </div>
                    
                    <!-- BEGIN MODALS FOR EDIT-->
                                <!-- <div class="row"> -->
                                <!-- <div class="col-md-12"> -->
                                    <!-- <div class="portlet "> -->

                                        <div class="portlet-body form">                                         

                                            <div id="question_sub2_modal" class="modal fade" tabindex="-1">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title" id="question_sub2_header">Question Sub Category-2</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" id="question_sub2_form" action="" method="post">
                                                    <span class="form_submission_error"></span>
                                                    <span class="form_submission_success"></span>

                                                        <input type="hidden" name="{{item_id}}"  id="{{item_id}}" value="">

                                                        <div class="form-group form-md-line-input">
                                                            <label class="control-label col-md-3">Category </label>
                                                            <div class="col-md-9">
                                                                <select class="form-control sel_cat" name="question_sub2_category" id="question_sub2_category">
                                                                {{#each cat}}
                                                                    <option value="{{value}}">{{title}}</option>
                                                                {{/each}}   
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                         <div class="form-group form-md-line-input">
                                                            <label class="control-label col-md-3">Sub Category-1 </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control sel_sub1" name="question_sub2_sub1" id="question_sub2_sub1">
                                                                {{#each sub1_data}}
                                                                    <option value="{{value}}">{{title}}</option>
                                                                {{/each}}   
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                         <div class="form-group form-md-line-input">
                                                            <label for="question_sub2_title" class="control-label col-md-3">Title </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="question_sub2_title" name="question_sub2_title">
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                                            <label for="question_sub2_description" class="control-label col-md-3">Description </label>
                                                            <div class="col-md-8">
                                                                <textarea class="form-control summer_details" rows="3" id="question_sub2_description" name="question_sub2_description"></textarea>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="form-actions noborder">
                                                            <input type="submit" class="btn blue" name="submit" value="Submit" />
                                                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>


                                            <div id="article_sub2_modal" class="modal fade" tabindex="-1">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title" id="article_sub2_header">Article Sub Category-2</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" id="article_sub2_form" action="" method="post">
                                                    <span class="form_submission_error"></span>
                                                    <span class="form_submission_success"></span>

                                                        <input type="hidden" name="{{item_id}}"  id="{{item_id}}" value="">
                                                        <div class="form-body">
                                                               

                                                            <div class="form-group form-md-line-input">
                                                            <label class="control-label col-md-3">Category </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control sel_cat" name="article_sub2_category" id="article_sub2_category">
                                                                {{#each cat}}
                                                                    <option value="{{value}}">{{title}}</option>
                                                                {{/each}}   
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                                            <label class="control-label col-md-3">Sub Category-1 </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control sel_sub1" name="article_sub2_sub1" id="article_sub2_sub1">
                                                                {{#each sub1_data}}
                                                                    <option value="{{value}}">{{title}}</option>
                                                                {{/each}}   
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                                            <label for="article_sub2_title" class="control-label col-md-3">Title </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="article_sub2_title" name="article_sub2_title">
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                                            <label for="article_sub2_description" class="control-label col-md-3">Description </label>
                                                            <div class="col-md-8">
                                                                <textarea class="form-control" rows="3" id="article_sub2_description" name="article_sub2_description"></textarea>
                                                            </div>
                                                        </div>
                                                                                                                    
                                                        </div>
                                                        <div class="form-actions noborder">
                                                            <input type="submit" class="btn blue" name="submit" value="Submit" />
                                                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>


                                            <div id="riddle_sub2_modal" class="modal fade" tabindex="-1">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <h4 class="modal-title" id="riddle_sub2_header">Riddles Sub Category-2</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" id="riddle_sub2_form" action="" method="post">
                                                    <span class="form_submission_error"></span>
                                                    <span class="form_submission_success"></span>

                                                        <input type="hidden" name="{{item_id}}"  id="{{item_id}}" value="">
                                                        <div class="form-body">
                                                               

                                                            <div class="form-group form-md-line-input">
                                                            <label class="control-label col-md-3">Category </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control sel_cat" name="riddle_sub2_category" id="riddle_sub2_category">
                                                                {{#each cat}}
                                                                    <option value="{{value}}">{{title}}</option>
                                                                {{/each}}   
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                                            <label class="control-label col-md-3">Sub Category-1 </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control sel_sub1" name="riddle_sub2_sub1" id="riddle_sub2_sub1">
                                                                {{#each sub1_data}}
                                                                    <option value="{{value}}">{{title}}</option>
                                                                {{/each}}   
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                                            <label for="riddle_sub2_title" class="control-label col-md-3">Title </label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control" id="riddle_sub2_title" name="riddle_sub2_title">
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-md-line-input">
                                                            <label for="riddle_sub2_description" class="control-label col-md-3">Description </label>
                                                            <div class="col-md-8">
                                                                <textarea class="form-control" rows="3" id="riddle_sub2_description" name="riddle_sub2_description"></textarea>
                                                            </div>
                                                        </div>
                                                                                                                    
                                                        </div>
                                                        <div class="form-actions noborder">
                                                            <input type="submit" class="btn blue" name="submit" value="Submit" />
                                                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>


                                        </div>
                                    <!-- </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                            <!-- END PORTLET-->

                             
                    
                    
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            
        </div>
        <!-- END CONTAINER -->
    
  
    {{>footer_cms}}


<script type="text/javascript">
            
            function resetFields(){
                $('#question_sub2_form .form_submission_success').text("");
                $('#question_sub2_form .form_submission_error').text("");
                $('#article_sub2_form .form_submission_success').text("");
                $('#article_sub2_form .form_submission_error').text("");
                $('#riddle_sub2_form .form_submission_success').text("");
                $('#riddle_sub2_form .form_submission_error').text("");
            }


            $( document ).ready( function () {

                $( "#question_sub2_form" ).validate( {/*validate & submit category details*/
                    rules: {  
                        question_sub2_title: {
                            required: true
                        },
                        question_sub2_category: {
                            required: true,
                        }
                        
                    },
                    messages: {                        
                        question_sub2_title: {
                            required: "This field is required"
                        },
                        question_sub2_category: {
                            required: "This field is required"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#question_sub2_form').serialize();
                    console.log(formData);
                    var my_url="{{url}}/cms/post_sub2/question";

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:formData,
                        dataType:'json',
                            // contentType: 'application/json', 
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log('success');
                                if(response.success==true){
                                    console.log('response is true');
                                    $('#question_sub2_form  .form_submission_success').text(response.msg);
                                    setTimeout(function(){
                                        $('#question_sub2_form  .form_submission_success').text('');
                                         window.location.href="{{url}}/cms/sub2/question";
                                    },3000);
                                    
                                }else{
                                    console.log('response is false');
                                    $('#question_sub2_form  .form_submission_error').text(response.msg);
                                }
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
                }
            } );




            $( "#article_sub2_form" ).validate( {/*validate & submit article sub category details*/
                    rules: {  
                        article_sub2_title: {
                            required: true
                        },
                        article_sub2_category: {
                            required: true,
                        }
                        
                    },
                    messages: {                        
                        article_sub2_title: {
                            required: "This field is required"
                        },
                        article_sub2_category: {
                            required: "This field is required"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#article_sub2_form').serialize();
                    console.log(formData);
                    var my_url="{{url}}/cms/post_sub2/article";

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:formData,
                        dataType:'json',
                            // contentType: 'application/json', 
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log('success');
                                if(response.success==true){
                                    console.log('response is true');
                                    $('#article_sub2_form  .form_submission_success').text(response.msg);
                                    setTimeout(function(){
                                        $('#article_sub2_form  .form_submission_success').text('');
                                         window.location.href="{{url}}/cms/sub2/article";
                                    },3000);
                                    
                                }else{
                                    console.log('response is false');
                                    $('#article_sub2_form  .form_submission_error').text(response.msg);
                                }
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
                }
            } );


            $( "#riddle_sub2_form" ).validate( {/*validate & submit riddle sub category details*/
                    rules: {  
                        riddle_sub2_title: {
                            required: true
                        },
                        riddle_sub2_category: {
                            required: true,
                        }
                        
                    },
                    messages: {                        
                        riddle_sub2_title: {
                            required: "This field is required"
                        },
                        riddle_sub2_category: {
                            required: "This field is required"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#riddle_sub2_form').serialize();
                    console.log(formData);
                    var my_url="{{url}}/cms/post_sub2/riddle";

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:formData,
                        dataType:'json',
                            // contentType: 'application/json', 
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log('success');
                                if(response.success==true){
                                    console.log('response is true');
                                    $('#riddle_sub2_form  .form_submission_success').text(response.msg);
                                    setTimeout(function(){
                                        $('#riddle_sub2_form  .form_submission_success').text('');
                                         window.location.href="{{url}}/cms/sub2/riddle";
                                    },3000);
                                    
                                }else{
                                    console.log('response is false');
                                    $('#riddle_sub2_form  .form_submission_error').text(response.msg);
                                }
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
                }
            } );



            // $('body').on('change','.sel_cat',function(){/*get sub1s for selected cat*/
            //     var selected =$(this).val();
            //     var selected_id=$(this).attr('id');
            //     console.log(selected_id);
            //     var required_id="#"+selected_id.replace('_category','_sub1');
            //     var required_type=selected_id.replace('_sub2_category','');
            //     console.log(required_id);

            //     var my_url="{{url}}/cms/sel_cat/"+required_type+"/"+selected;

            //         $.ajax({
            //             url:my_url,
            //             type:'GET',
            //                 headers: {'X-My-App-Token': 'loganstyles'},
            //                 success:function(response){
            //                     console.log(response);
            //                     $(required_id).html('');
            //                     $.each(response,function(key,value){
            //                         console.log(value.title);
            //                         console.log(value.value);
            //                         $(required_id).append('<option value="'+value.value+'">'+value.title+'</option>');

            //                     });
            //                 },
            //                 error:function(xhr, status, err){
            //                     console.log('error');
            //                     console.log(xhr);
            //                     console.log(status);
            //                     console.log(err);
            //                 }
            //             });

            // });


});
        </script>


</body>

</html>
    