{{>header_member}}

<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">  </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">

                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">                            
                            <!-- BEGIN MODALS FOR EDIT-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3" style="padding-right: 0px;">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <div class="profile-sidebar">
                                            <!-- PORTLET MAIN -->
                                            <div class="portlet light profile-sidebar-portlet ">

                                                <!-- SIDEBAR MENU -->
                                                <div class="profile-usermenu">
                                                    <ul class="nav">
                                                        <li class="active">
                                                            <a href="#">
                                                            <i class="fa fa-share-square-o font_icon_style_leftbar"></i>
                                                               <!--  <img alt="" class="icon_size" src="{{url}}/images/my_requests.png"> -->

                                                                My Requests </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                <i class="fa fa-file-text-o font_icon_style_leftbar"></i>
                                                                   <!--  <img alt="" class="icon_size" src="{{url}}/images/my_documents.png">  -->

                                                                    My docs </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" style="margin-left: 2px;">
                                                                        <img alt="" class="icon_size" src="{{url}}/images/my_bookmarked_items.png"> My Bookmarked Items </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- END MENU -->
                                                        </div>
                                                        <!-- END PORTLET MAIN -->
                                                        <!-- PORTLET MAIN -->
                                                        <div class="portlet light ">                                    
                                                            <div>
                                                                <h3 class="profile-desc-title">Advert</h3>
                                                            </div>
                                                        </div>
                                                        <!-- END PORTLET MAIN -->
                                                    </div>
                                                    <!-- END BEGIN PROFILE SIDEBAR -->
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="panel panel-default portlet">
                                                      <div class="panel-body">
                                                        <a class="page_top_actions" onclick="modalLoader('question','new','');">Ask a question</a>&nbsp;|&nbsp;

                                                        <a class="page_top_actions" onclick="modalLoader('article','new','');">Write an article</a>&nbsp;|&nbsp;

                                                        <a class="page_top_actions" onclick="modalLoader('riddle','new','');">Post a riddle</a>&nbsp;|&nbsp;

                                                        <a class="page_top_actions" onclick="modalLoader('pab','new','');">Post a book</a>
                                                        
                                                      </div>
                                                    </div>                                        
                                                    

                                                    <div class="post_area">                                            

                                                        
                                                    </div>


                                                </div>

                                                <div class="col-md-3"><!--third-->
        <div class="row">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">See What is Trending Now</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                {{#each data_trend}}
                                    <li>
                                        <a href="{{url}}/posts/section/trend/single/{{_id}}">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm">

                                                    {{#if pics}}
                                                        <img class="icon_size" src="{{../url}}/uploads/{{pics.[0]}}">
                                                        {{else}}
                                                        <img class="icon_size" src="{{../url}}/images/trending.png">
                                                    {{/if}}
                                                        
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> {{excerpt}} ...(more) </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date" style="text-transform: capitalize;"> - {{category}} </div>
                                        </div>
                                        </a>
                                    </li>
                                    {{/each}}
                                                                                                 

                                </ul>
                            </div>
                        </div>

                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <!-- END PORTLET -->
        </div>

        <div class="row">
            <!-- BEGIN PORTLET -->
            <div class="portlet light  tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Check Domiit's Experts</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test" />
                                        <input type="checkbox" class="liChild" name="test" /> </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Dr. Samuel Joseph </span>
                                            <span class="label label-sm label-success">Follow</span>

                                        </div>

                                    </li>
                                    <li>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="liChild" value="" /> </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> Mr. Jonathan Eboh </span>
                                                <span class="label label-sm label-success">Follow</span>
                                            </div>                                                                
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" /> </div>
                                                <div class="task-title">
                                                    <span class="task-title-sp"> Bellow Umaru </span>
                                                    <span class="label label-sm label-success">Follow</span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="task-checkbox">
                                                    <input type="checkbox" class="liChild" value="" /> </div>
                                                    <div class="task-title">
                                                        <span class="task-title-sp"> Titus Bradley </span>
                                                        <span class="label label-sm label-success">Follow</span>
                                                    </div>
                                                </li>

                                            </ul>
                                            <!-- END START TASK LIST -->
                                        </div>
                                    </div>
                                    <div class="task-footer">
                                        <div class="btn-arrow-link pull-right">
                                            <a href="javascript:;">See All Tasks</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="portlet light  tasks-widget">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">Adverts</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="task-content">
                                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>

                                    </div>  



                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>

            <!-- START MODAL PORTLET-->

        <div class="portlet-body form">                                         

            <div id="question_modal" class="modal fade" tabindex="-1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="question_sub1_header">Ask A Question</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="question_form" action="" method="post" enctype="multipart/form-data">
                        <span class="form_submission_error"></span>
                        <span class="form_submission_success"></span>

                        <input type="hidden" name="question_id"  id="question_id" value="0">

                        <div class="form-body">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-lg-3 col-sm-12">Category </label>
                                <div class="col-md-9 col-lg-9 col-sm-12">
                                    <select class="form-control " name="question_category" id="question_category">
                                        {{#each data_quest}}
                                        <option value="{{title}}">{{title}}</option>
                                        {{/each}}   

                                    </select>
                                    <span class="req_opt">*required</span>
                                </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-3 col-lg-3 col-sm-12 control-label">Category-1</label>
                                <div class="col-md-9 col-lg-9 col-sm-12 ">
                                    <input type="text" name="question_sub1" id="question_sub1" class="form-control" value="">
                                    <span class="req_opt">*optional</span>
                                </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-3 col-lg-3 col-sm-12 control-label">Category-2</label>
                                <div class="col-md-9 col-lg-9 col-sm-12 ">
                                    <input type="text" name="question_sub2" id="question_sub2" class="form-control" value="">
                                    <span class="req_opt">*optional</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 col-lg-3 col-sm-12 control-label">Write your question</label>
                                <div class="col-md-9 col-lg-9 col-sm-12 ">
                                    <textarea  name="question_title" id="question_title" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
                                </div>                                
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-lg-3 col-sm-12 control-label">Provide additional information</label>
                                <div class="col-md-9 col-lg-9 col-sm-12 ">
                                    <textarea  name="question_info" id="question_info" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
                                </div>                                
                            </div>

                            <div class="form-group">
                                <div class="col-md-3 col-lg-3 col-sm-12"></div>

                                <div class="col-md-9 col-lg-9 col-sm-12 ">
                                    <label for="question_photo" class="col-md-6 col-lg-6 col-sm-12 control-label custom-file-upload">
                                        <i class="fa fa-camera"></i> Add Photos
                                    </label>
                                    <div class="col-md-4 col-lg-6 col-sm-12">
                                        <input id="question_photo" name="question_photo" type="file" accept="application/x-zip-compressed,image/*"/>
                                    </div>
                                    
                                </div>                                
                            </div>


                            <div class="form-actions noborder pull-right">
                                <input type="submit" class="btn blue" name="submit" value="Post" />
                                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </form>
                </div>

            </div>

        <div id="article_modal" class="modal fade" tabindex="-1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="article_sub1_header">Write An Article</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="article_form" action="" method="post" enctype="multipart/form-data">
                    <span class="form_submission_error"></span>
                    <span class="form_submission_success"></span>

                    <input type="hidden" name="article_id"  id="article_id" value="0">

                    <div class="form-body">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-lg-3 col-sm-12">Category </label>
                            <div class="col-md-9 col-lg-9 col-sm-12">
                                <select class="form-control " name="article_category" id="article_category">
                                    {{#each data_art}}
                                    <option value="{{title}}">{{title}}</option>
                                    {{/each}}   

                                </select>
                                <span class="req_opt">*required</span>
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-3 col-lg-3 col-sm-12 control-label">Category-1</label>
                            <div class="col-md-9 col-lg-9 col-sm-12 ">
                                <input type="text" name="article_sub1" id="article_sub1" class="form-control" value="">
                                <span class="req_opt">*optional</span>
                            </div>
                            
                        </div>

                    <div class="form-group">
                        <label class="col-md-3 col-lg-3 col-sm-12 control-label">Category-2</label>
                        <div class="col-md-9 col-lg-9 col-sm-12 ">
                         <input type="text" name="article_sub2" id="article_sub2" class="form-control" value="">
                         <span class="req_opt">*optional</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-lg-3 col-sm-12 control-label">Topic</label>
                        <div class="col-md-9 col-lg-9 col-sm-12 ">
                         <input type="text" name="article_topic" id="article_topic" class="form-control" value="">
                        </div>
                    </div>


                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-sm-12 control-label">Write your article</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 ">
                        <textarea  name="article_title" id="article_title" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
                    </div>                                
                </div>

                <div class="form-group">
                    <div class="col-md-3 col-lg-3 col-sm-12"></div>

                    <div class="col-md-9 col-lg-9 col-sm-12 ">
                        <label for="article_attachment" class="col-md-4 col-lg-4 col-sm-12 control-label custom-file-upload">
                            <img src="{{url}}/images/upload_attachment.png" /> Upload Attachment
                        </label>
                        <div class="col-md-2 col-lg-2 col-sm-12">
                            <input id="article_attachment" name="article_attachment" type="file" accept="application/x-zip-compressed"/>
                        </div>


                        <label for="article_photo" class="col-md-4 col-lg-4 col-sm-12 control-label custom-file-upload">
                            <i class="fa fa-camera"></i> Add Photos
                        </label>
                        <div class="col-md-2 col-lg-2 col-sm-12">
                            <input id="article_photo" name="article_photo" type="file" accept="application/x-zip-compressed,image/*"/>
                        </div>
                        
                    </div>                                
                </div>


                <div class="form-actions noborder pull-right">
                    <input type="submit" class="btn blue" name="submit" value="Post" />
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                </div>
                <div class="clearfix"></div>

            </div>
        </form>
    </div>

</div>


<div id="riddle_modal" class="modal fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="riddle_sub1_header">Write A Riddle</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" id="riddle_form" action="" method="post" enctype="multipart/form-data">
            <span class="form_submission_error"></span>
            <span class="form_submission_success"></span>

            <input type="hidden" name="riddle_id"  id="riddle_id" value="0">

            <div class="form-body">

                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-3 col-sm-12">Category </label>
                    <div class="col-md-9 col-lg-9 col-sm-12">
                        <select class="form-control " name="riddle_category" id="riddle_category">
                            {{#each data_riddle}}
                            <option value="{{title}}">{{title}}</option>
                            {{/each}}   

                        </select>
                        <span class="req_opt">*required</span>                        
                    </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Category-1</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="riddle_sub1" id="riddle_sub1" class="form-control" value="">
                    <span class="req_opt">*optional</span>
                </div>
                
            </div>

            <div class="form-group">
              <label class="col-md-3 col-lg-3 col-sm-12 control-label">Category-2</label>
              <div class="col-md-9 col-lg-9 col-sm-12 ">
                <input type="text" name="riddle_sub2" id="riddle_sub2" class="form-control" value="">
                <span class="req_opt">*optional</span>
            </div>
            
        </div>


        <div class="form-group">
            <label class="col-md-3 col-lg-3 col-sm-12 control-label">Write your riddle</label>
            <div class="col-md-9 col-lg-9 col-sm-12 ">
                <textarea  name="riddle_title" id="riddle_title" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
            </div>                                
        </div>



        <div class="form-group">
            <div class="col-md-3 col-lg-3 col-sm-12"></div>

            <div class="col-md-9 col-lg-9 col-sm-12 ">

                <label for="riddle_photo" class="col-md-6 col-lg-6 col-sm-12 control-label custom-file-upload">
                    <i class="fa fa-camera"></i> Add Photos
                </label>
                <div class="col-md-2 col-lg-2 col-sm-12">
                    <input id="riddle_photo" name="riddle_photo" type="file" accept="application/x-zip-compressed,image/*"/>
                </div>

            </div>                                
        </div>


        <div class="form-actions noborder pull-right">
            <input type="submit" class="btn blue" name="submit" value="Post" />
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
        </div>
        <div class="clearfix"></div>

    </div>
</form>
</div>

</div>

<div id="pab_modal" class="modal fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="pab_sub1_header">Post a book</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" id="pab_form" action="" method="post" enctype="multipart/form-data">
            <span class="form_submission_error"></span>
            <span class="form_submission_success"></span>

            <input type="hidden" name="pab_id"  id="pab_id" value="0">

            <div class="form-body">

                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-3 col-sm-12">Genre </label>
                    <div class="col-md-9 col-lg-9 col-sm-12">
                        <select class="form-control " name="pab_category" id="pab_category">
                            {{#each data_pab}}
                            <option value="{{title}}">{{title}}</option>
                            {{/each}}   

                        </select>
                        <span class="req_opt">*required</span>
                    </div>
                </div>


            <div class="form-group">
                <div class="col-md-3 col-lg-3 col-sm-12"></div>

                <div class="col-md-9 col-lg-9 col-sm-12 ">

                    <label for="pab_photo" class="col-md-10 col-lg-10 col-sm-12 control-label custom-file-upload">
                        <i class="fa fa-camera"></i> Upload Picture of book cover
                    </label>
                    <div class="col-md-2 col-lg-2 col-sm-12">
                        <input id="pab_photo" name="pab_photo" type="file" accept="application/x-zip-compressed,image/*"/>
                    </div>

                </div>                                
            </div>

            <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Title of the book</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="pab_title" id="pab_title" class="form-control" value="">
                </div>
            </div>

            <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Author</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="pab_author" id="pab_author" class="form-control" value="">
                </div>
            </div>

            <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Amount</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="number" name="pab_amount" id="pab_amount" class="form-control" value="">
                </div>
            </div>

            <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">ISBN</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="pab_isbn" id="pab_isbn" class="form-control" value="">
                </div>
            </div>

            <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Number of pages</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="number" name="pab_pages" id="pab_pages" class="form-control" value="">
                </div>
            </div>

            <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Publishers</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="pab_publishers" id="pab_publishers" class="form-control" value="">
                </div>
            </div>

            <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Bookshop or Contact</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="pab_bookshop" id="pab_bookshop" class="form-control" value="">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 col-lg-3 col-sm-12 control-label">Url</label>
                <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="pab_url" id="pab_url" class="form-control" value="">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 col-lg-3 col-sm-12 control-label">Synopsis</label>
                <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <textarea  name="pab_synopsis" id="pab_synopsis" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
                </div>                                
            </div>

            <div class="form-group">
                <label class="col-md-3 col-lg-3 col-sm-12 control-label">About the author</label>
                <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <textarea  name="pab_about_author" id="pab_about_author" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
                </div>                                
            </div>



            <div class="form-actions noborder pull-right">
                <input type="submit" class="btn blue" name="submit" value="Post" />
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            </div>
            <div class="clearfix"></div>

        </div>
    </form>
    </div>

</div>


               
            </div>

            <!-- END MODAL PORTLET-->
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>

            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {{>footer_cms}}

        <script type="text/javascript">

        
        $( document ).ready( function () {

        $( "#question_form" ).validate( {/*validate & submit question modal data*/
                rules: {  
                    question_category: {
                        required: true
                    },
                    question_title: {
                        required: true,
                    }
                    
                },
                messages: {                        
                    question_category: {
                        required: "This field is required"
                    },
                    question_title: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$("#question_form").find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields("#question_form");
                var my_url="{{url}}/ask_question";
                $("#question_form").ajaxSubmit({
                    url:my_url,
                       contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                console.log('image uploaded and form submitted');
                                $('#question_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#question_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#question_modal').modal('hide');
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#question_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
            }
            } );


        $( "#article_form" ).validate( {/*validate & submit article modal data*/
                rules: {  
                    article_category: {
                        required: true
                    },
                    article_title: {
                        required: true,
                    }
                    
                },
                messages: {                        
                    article_category: {
                        required: "This field is required"
                    },
                    article_title: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$("#article_form").find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields("#article_form");
                var my_url="{{url}}/ask_article";
                $("#article_form").ajaxSubmit({
                    url:my_url,
                       contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                console.log('image uploaded and form submitted');
                                $('#article_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#article_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#article_modal').modal('hide');
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#article_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
            }
            } );

        $( "#riddle_form" ).validate( {/*validate & submit riddle modal data*/
                rules: {  
                    riddle_category: {
                        required: true
                    },
                    riddle_title: {
                        required: true,
                    }
                    
                },
                messages: {                        
                    riddle_category: {
                        required: "This field is required"
                    },
                    riddle_title: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$("#riddle_form").find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields("#riddle_form");
                var my_url="{{url}}/ask_riddle";
                $("#riddle_form").ajaxSubmit({
                    url:my_url,
                       contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                console.log('image uploaded and form submitted');
                                $('#riddle_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#riddle_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#riddle_modal').modal('hide');
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#riddle_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
            }
            } );


        $( "#pab_form" ).validate( {/*validate & submit pab modal data*/
                rules: {  
                    pab_category: {
                        required: true
                    },
                    pab_title: {
                        required: true,
                    }
                    
                },
                messages: {                        
                    pab_category: {
                        required: "This field is required"
                    },
                    pab_title: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$("#pab_form").find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields("#pab_form");
                var my_url="{{url}}/ask_pab";
                $("#pab_form").ajaxSubmit({
                    url:my_url,
                       contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                console.log('image uploaded and form submitted');
                                $('#pab_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#pab_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#pab_modal').modal('hide');
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#pab_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
            }
            } );



        

            });

            </script>


    </body>

</html>