{{>header_member}}

<!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">  </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container-fluid">

                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">                            
                        <!-- BEGIN MODALS FOR EDIT-->


                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="col-md-2 col-lg-2"></div>
                            <div class="col-md-7 col-lg-7 profile_top profile_area" style="">                                        

                                <div style="cursor: pointer;" class="profile_bgimg_container" ><!--background img-->
                                    <div class="pro_bgimage">
                                  {{#if backgroundPic}}
                                    <img class="object-fit_cover" src="{{url}}/{{backgroundPic}}">
                                    {{/if}}
                                    </div>
                                </div>

                                <div class="profile_img_container">
                                    <div style="cursor: pointer;" class="pro_image" >
                                    
                                    <img class="object-fit_cover" src="{{url}}/{{displayPic}}">
                                    
                                    </div>
                                </div>

                                <div class="profile_editicon_container">
                                {{#if isAdmin}}
                                    <div class="profile_editicon" onclick="modalLoader('group_bio1','edit','');">
                                    <img src="{{url}}/images/edit_icon_24.png">

                                    </div>
                                    {{/if}}
                                    <div class="clearfix"></div>
                                </div>


                                <div class="profile_hr">
                                    <div class="profile_img_text">
                                        <div style="font-weight: 600;">{{group_info.displayName}}</div>
                                        <div>{{member_count}} MEMBERS</div><br/>
                                        <div><strong>MOTTO:</strong> &nbsp;{{group_info.motto}}</div>
                                        <div>
                                        {{#if isMember}}

                                        <button type="button" style="color: #86be25;" onclick="showRemoveMember();" class="btn btn-default">LEAVE GROUP</button>

                                        {{else}}

                                        <button type="button" style="color: #86be25;" onclick="showAddMember();" class="btn btn-default">JOIN GROUP</button>

                                        {{/if}}


                                        </div><br/>

                                        <div style="text-decoration: underline; ">About Us</div>
                                        <div>{{{group_info.aboutus}}}</div>                                    
                                    </div>
                                    
                                  <div class="thin_border_top">
                                      <div class="col-md-6 col-lg-6 col-sm-12 profile_bios">

                                          <div class="profile_text_section  multiple">
                                          <div style="width: 100%;">
                                            <div class="section_title">
                                                <div class="profile_text_head ">MISSION:</div>
                                            </div>
                                            
                                              <div class="clearfix"></div>
                                            </div>

                                            <div class="profile_subitem">

                                              <div class="profile_text_body">
                                                <div class="profile_text_title"><strong>{{{group_info.mission}}}</strong></div>
                                                
                                                <input type="hidden" class="subitem_id" value="{{_id}}">
                                              </div>


                                              <div class="clearfix"></div>
                                            </div>
                                                 
                                          </div>

                                                                                        
                                      </div>

                                      <div class="col-md-6 col-lg-6 col-sm-12 ">                 
                                          <div class="profile_text_section  multiple">
                                          <div style="width: 100%;">
                                            <div class="section_title">
                                                <div class="profile_text_head ">VISION:</div>
                                            </div>
                                              <div class="clearfix"></div>
                                            </div>

                                            <div class="profile_subitem">

                                              <div class="profile_text_body">
                                                <div class="profile_text_title"><strong>{{{group_info.vision}}}</strong></div>
                                                
                                                <input type="hidden" class="subitem_id" value="{{_id}}">
                                              </div>

                                              <div class="clearfix"></div>
                                            </div>
                                                 
                                          </div>
                                                                                        
                                      </div>
                                      
                                  </div>

                              </div>

                          </div>
                            <div class="col-md-2 col-lg-2"></div>
                          </div>
                      </div>

                      <!--admin & activities-->
                      <div class="row" style="margin-top: 5px;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                          <div class="col-md-2 col-lg-2"></div>
                          <div class="col-md-7 col-lg-7 profile_top profile_area">                                        

                           <div class="col-md-12 col-lg-12 col-sm-12 " style="width: 100%;border: 1px solid #ddd;">

                           <div class="group_lists_box profile_bios" >
                            <div class="group_lists_box_title">GROUP'S ADMIN</div>

                            {{#group_admins}}

                            <div style="width: 100%;margin-bottom: 5px;">
                              <!--<div class="group_lists_item_no">{{@index}}</div>-->
                              <div class="group_lists_item_title">{{item_displayName}}</div>
                              <div class="group_lists_item_button">

                              <a href="{{url}}/profile/{{item_id}}" style="color: #86be25;" class="btn btn-default">view profile</a>

                              </div>
                              <div class="clearfix"></div>
                            </div>
                            {{/group_admins}}
                            <br/>
                            <div style="margin:5px auto; width: 50%;">
                            <a href="{{url}}/posts/getMembers/{{group_info._id}}" style="color: #86be25;" class="btn btn-default">view other members</a>
                            </div>
                           </div>

                           <div class="group_lists_box">
                           <div class="group_lists_box_title">GROUP'S ACTIVITIES</div>

                           <div class="profile_editicon_container">
                                {{#if isAdmin}}
                                    <div class="profile_editicon update_group_activity">
                                      <img src="{{url}}/images/edit_icon_24.png">

                                    </div>
                                    {{/if}}
                                    <div class="clearfix"></div>
                                </div>
                            <div style="width: 100%;margin:5px; text-align: justify; ">{{{group_info.activitys}}}</div>

                           </div>
                           <div class="clearfix"></div>

                          </div>

                        </div>
                        <div class="col-md-2 col-lg-2"></div>
                      </div>
                    </div>


                    <!--suggestion-->
                      <div class="row" style="margin-top: 5px;">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                          <div class="col-md-2 col-lg-2"></div>
                          <div class="col-md-7 col-lg-7 profile_top profile_area">                                        

                           <div class="col-md-12 col-lg-12 col-sm-12 " style="width: 100%;border: 1px solid #ddd;">

                           <div class="group_lists_box profile_bios" >
                            <div class="group_lists_box_title"></div>

                            <div style="margin:5px auto; width: 50%;">
                            <a style="color: #86be25;" class="btn btn-default post_suggestion">Post suggestion</a>
                            </div>
                           </div>

                           <div class="group_lists_box">
                           <div style="margin:5px auto; width: 50%;">
                            <a href="javascript:;" style="color: #86be25;" class="btn btn-default">Open group's page</a>
                            </div>
                           </div>
                           <div class="clearfix"></div>

                          </div>

                        </div>
                        <div class="col-md-2 col-lg-2"></div>
                      </div>
                    </div>


                  </div>
                  <!-- END PAGE CONTENT INNER -->
              </div>
          </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>

        <!-- START MODAL PORTLET-->

        <div class="portlet-body form">  

          <div id="group_bio1_modal" class="modal fade" tabindex="-1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title" id="group_bio1_header">Edit group</h4>
            </div>

            <div class="modal-body">
             <form class="form-horizontal" role="form" id="group_bio1_form" action="" method="post" enctype="multipart/form-data">
              <span class="form_submission_error"></span>
              <span class="form_submission_success"></span>

              <input type="hidden" name="group_bio1_id"  id="group_bio1_id" value="{{group_info._id}}">

              <div class="form-body"> 

                <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Name</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="group_bio1_title" id="group_bio1_title" class="form-control" value="{{group_info.displayName}}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 col-lg-3 col-sm-12 control-label">Motto</label>
                  <div class="col-md-9 col-lg-9 col-sm-12 ">
                    <input type="text" name="group_bio1_motto" id="group_bio1_motto" class="form-control" value="{{group_info.motto}}">
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-sm-12 control-label">About Us</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 ">
                      <textarea  name="group_bio1_aboutus" id="group_bio1_aboutus" class="form-control summer_details" >{{group_info.aboutus}}</textarea>
                    </div>                                
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-sm-12 control-label">Mission</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 ">
                      <textarea  name="group_bio1_mission" id="group_bio1_mission" class="form-control summer_details" style="font-size: 1.2em;font-weight: 600">{{group_info.mission}}</textarea>
                    </div>                                
                </div>

                <div class="form-group">
                    <label class="col-md-3 col-lg-3 col-sm-12 control-label">Vision</label>
                    <div class="col-md-9 col-lg-9 col-sm-12 ">
                      <textarea  name="group_bio1_vision" id="group_bio1_vision" class="form-control summer_details" style="font-size: 1.2em;font-weight: 600">{{group_info.vision}}
                      </textarea>
                    </div>                                
                </div>

                <div class="form-group">
                <div class="col-md-3 col-lg-3 col-sm-12"></div>
                <div class="col-md-9 col-lg-9 col-sm-12">
                  <label for="group_bio1_displayPic" class="custom-file-upload">
                    <i class="fa fa-camera"></i> Group Avatar
                  </label>
                  <input id="group_bio1_displayPic" name="group_bio1_displayPic" type="file" accept="application/x-zip-compressed,image/*"/>
                </div>
                  
                </div>

                <div class="form-group">
                  <div class="col-md-3 col-lg-3 col-sm-12"></div>
                  <div class="col-md-9 col-lg-9 col-sm-12">
                    <label for="group_bio1_backgroundPic" class="custom-file-upload">
                    <i class="fa fa-camera"></i> Group Background Picture
                  </label>
                  <input id="group_bio1_backgroundPic" name="group_bio1_backgroundPic" type="file" accept="application/x-zip-compressed,image/*"/>
                  </div>
                  
                </div>
              </div>
              <div class="form-actions noborder pull-right">
                <input type="submit" class="btn blue" name="submit" value="Save" />
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>  

        <!--add_member modal-->
        <div id="add_member_modal" class="modal fade" tabindex="-1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="add_member_header">Add member</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="add_member_form" action="" method="post">
              <span class="form_submission_error"></span>
              <span class="form_submission_success"></span>

              <input type="hidden" name="add_group_id"  id="add_group_id" value="{{group_info._id}}">

              <h4>Are you sure you want to join this group?</h4>

              <div class="form-actions noborder">
                <input type="submit" class="btn blue" name="submit" value="Join" />
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
              </div>
            </form>
          </div>

        </div> 

        <!--remove_member modal-->
        <div id="remove_member_modal" class="modal fade" tabindex="-1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="remove_member_header">Remove member</h4>
          </div>
          <div class="modal-body"
            <form role="form" id="remove_member_form" action="" method="post">
              <span class="form_submission_error"></span>
              <span class="form_submission_success"></span>

              <input type="hidden" name="remove_group_id"  id="remove_group_id" value="{{group_info._id}}">

              <h4>Are you sure you want to leave this group?</h4>

              <div class="form-actions noborder">
                <input type="submit" class="btn blue" name="submit" value="Leave" />
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
              </div>
            </form>
          </div>

        </div>  

        <!--update_activity-->
          <div id="update_activity_modal" class="modal fade" tabindex="-1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title" id="update_activity_header">Update activity</h4>
            </div>
            <div class="modal-body">
              <form role="form" id="update_activity_form" action="" method="post">
                <span class="form_submission_error"></span>
                <span class="form_submission_success"></span>

                <input type="hidden" name="update_group_id"  id="update_group_id" value="{{group_info._id}}">
                <div class="form-group">
                  <label class="col-md-2 col-lg-2 col-sm-12 control-label">Details</label>
                  <div class="col-md-10 col-lg-10 col-sm-12 ">
                    <textarea  name="update_activity" id="update_activity" class="form-control summer_details" >{{group_info.activitys}}</textarea>
                  </div>                                
              </div>

                <div class="form-actions noborder">
                  <input type="submit" class="btn blue" name="submit" value="Update" />
                  <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                </div>
              </form>
            </div>

          </div> 



      </div>

        <!-- END MODAL PORTLET-->
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>

        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    {{>footer_cms}}

        <script type="text/javascript">

        function showAddMember(){
          $('#add_member_modal').modal({backdrop: false, keyboard: false});
        }

        function showRemoveMember(){
          $('#remove_member_modal').modal({backdrop: false, keyboard: false});
        }

        
        $( document ).ready( function () {

          

          //update & show modal
          $("body").on('click','.update_group_activity',function(e){
              $('#update_activity_modal').modal({backdrop: false, keyboard: false});
          });

          /*add activity to group*/
                $("body").on('submit','#update_activity_form',function(e){
                    e.preventDefault();

                    var sub_button=$(this).find(':submit');
                    var old_button_val=sub_button.val();
                    sub_button.prop('disabled', true);
                    sub_button.val('...processing');

                    resetFields();
                    var my_url="{{url}}/updateActivity";
                    //console.log('url: '+my_url);
                    
                    var form_data=$(this).serialize();
                    //console.log(form_data);

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:form_data,
                        headers: {'X-My-App-Token': 'loganstyles'},
                        success:function(response){
                            //console.log(response);
                            if(response.success==true){
                            $('#update_activity_form  .form_submission_success').text(response.msg);
                            setTimeout(function(){
                                $('#update_activity_form  .form_submission_success').text('');
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                                $('#update_activity_modal').modal('hide');
                                    location.reload();//temp:later use sockets to update the actual post
                                },3000);

                        }else{
                            console.log('response is false');
                            $('#update_activity_form  .form_submission_error').text(response.msg);
                            sub_button.val(old_button_val);
                            sub_button.prop('disabled', false);
                        }


                        },
                        error:function(xhr, status, err){
                            /*console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);*/
                        }
                    });

                });

          $( "#group_bio1_form" ).validate( {/*validate & submit profile bio1 modal data*/
                rules: {  
                    group_bio1_title: {
                        required: true
                    },
                    group_bio1_aboutus: {
                        required: true,
                    }
                    
                },
                messages: {                        
                    group_bio1_title: {
                        required: "This field is required"
                    },
                    group_bio1_aboutus: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$("#group_bio1_form").find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields();
                var my_url="{{url}}/updateGroupBio1";
                $("#group_bio1_form").ajaxSubmit({
                    url:my_url,
                       contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                console.log('image uploaded and form submitted');
                                $('#group_bio1_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#group_bio1_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#group_bio1_modal').modal('hide');
                                     window.location.href="{{url}}/posts/showGroup/{{group_info._id}}";
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#group_bio1_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
            }
            });

          /*add member to group*/
                $("body").on('submit','#add_member_form',function(e){
                    e.preventDefault();

                    var sub_button=$(this).find(':submit');
                    var old_button_val=sub_button.val();
                    sub_button.prop('disabled', true);
                    sub_button.val('...processing');

                    resetFields();
                    var my_url="{{url}}/addMember";
                    //console.log('url: '+my_url);
                    
                    var form_data=$(this).serialize();
                    //console.log(form_data);

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:form_data,
                        headers: {'X-My-App-Token': 'loganstyles'},
                        success:function(response){
                            //console.log(response);
                            if(response.success==true){
                            $('#add_member_form  .form_submission_success').text(response.msg);
                            setTimeout(function(){
                                $('#add_member_form  .form_submission_success').text('');
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                                $('#add_member_modal').modal('hide');
                                    location.reload();//temp:later use sockets to update the actual post
                                },3000);

                        }else{
                            console.log('response is false');
                            $('#add_member_form  .form_submission_error').text(response.msg);
                            sub_button.val(old_button_val);
                            sub_button.prop('disabled', false);
                        }


                        },
                        error:function(xhr, status, err){
                            /*console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);*/
                        }
                    });

                });

                /*remove member from group*/
                $("body").on('submit','#remove_member_form',function(e){
                    e.preventDefault();

                    var sub_button=$(this).find(':submit');
                    var old_button_val=sub_button.val();
                    sub_button.prop('disabled', true);
                    sub_button.val('...processing');

                    resetFields();
                    var my_url="{{url}}/removeMember";
                    //console.log('url: '+my_url);
                    
                    var form_data=$(this).serialize();
                    //console.log(form_data);

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:form_data,
                        headers: {'X-My-App-Token': 'loganstyles'},
                        success:function(response){
                            //console.log(response);
                            if(response.success==true){
                            $('#remove_member_form  .form_submission_success').text(response.msg);
                            setTimeout(function(){
                                $('#remove_member_form  .form_submission_success').text('');
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                                $('#remove_member_modal').modal('hide');
                                    location.reload();//temp:later use sockets to update the actual post
                                },3000);

                        }else{
                            console.log('response is false');
                            $('#remove_member_form  .form_submission_error').text(response.msg);
                            sub_button.val(old_button_val);
                            sub_button.prop('disabled', false);
                        }


                        },
                        error:function(xhr, status, err){
                            /*console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);*/
                        }
                    });

                });


        $('body').on('click','.edit_icon',function(){
          $this=$(this);
          var title= $this.parents('.profile_subitem').find('.profile_text_body .profile_text_title').text();
          console.log('title '+title);
          var from = $this.parents('.profile_subitem').find('.profile_text_body .profile_text_duration .from_year').text();
          console.log('from '+from);
          var to = $this.parents('.profile_subitem').find('.profile_text_body .profile_text_duration .to_year').text();
          console.log('to '+to);
          var subitem_id = $this.parents('.profile_subitem').find('.subitem_id').val();

          $('#profile_edu_modal').modal({backdrop: false, keyboard: false});
          $('#profile_edu_header').text('Edit');
          $('#profile_edu_title').val(title);
          $('#profile_edu_from').val(from);
          $('#profile_edu_to').val(to);
          $('#profile_edu_action').val('edit');
          $('#profile_edu_id').val(subitem_id);
        });

        $('body').on('click','.edit_qual_icon',function(){
          $this=$(this);
          var title= $this.parents('.profile_subitem').find('.profile_text_body .profile_text_title').text();
          console.log('title '+title);
          var year = $this.parents('.profile_subitem').find('.profile_text_body .profile_text_duration .year').text();
          console.log('year '+year);
          var subitem_id = $this.parents('.profile_subitem').find('.subitem_id').val();
          
          $('#profile_qual_modal').modal({backdrop: false, keyboard: false});
          $('#profile_qual_header').text('Edit');
          $('#profile_qual_title').val(title);
          $('#profile_qual_year').val(year);
          $('#profile_qual_action').val('edit');
          $('#profile_qual_id').val(subitem_id);
        });

        $('body').on('click','.edit_sch_icon',function(){
          $this=$(this);
          var title= $this.parents('.profile_subitem').find('.profile_text_body .profile_text_title').text();
          console.log('title '+title);
          var year = $this.parents('.profile_subitem').find('.profile_text_body .profile_text_duration .year').text();
          console.log('year '+year);
          var subitem_id = $this.parents('.profile_subitem').find('.subitem_id').val();
          
          $('#profile_sch_modal').modal({backdrop: false, keyboard: false});
          $('#profile_sch_header').text('Edit');
          $('#profile_sch_title').val(title);
          $('#profile_sch_action').val('edit');
          $('#profile_sch_id').val(subitem_id);
        });


        // Configure/customize these variables.
    var showChar = 250;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "See more";
    var lesstext = "See less";
    

    $('.more').each(function() {
        var content = $(this).html();

        if(content.length > showChar) {

            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);

            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<div style="width:100%;padding:2%;"><button type="button" style="margin:0 auto;color: #86be25;" class="morelink btn btn-default">' + moretext + '</button></div></span>';

            $(this).html(html);
        }

    });

    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
            $(this).parents('.more').find('.moreellipses').text("...");

        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
            $(this).parents('.more').find('.moreellipses').text("");
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });


    $('.profile_text_section.multiple .profile_text_body_icons .action_icons.hide_edit_icons').hover(
    function() {
        $('.profile_text_section.multiple .profile_text_body_icons .action_icons.hide_edit_icons img').fadeIn('slow');
    },function() {
        $('.profile_text_section.multiple .profile_text_body_icons .action_icons.hide_edit_icons img').fadeOut('slow');
      }
      );



        

            });

            </script>


    </body>

</html>