{{>header}}
<div class="container" id="">
    <div class="banner-bottom">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner-bottom-text">
                            <h3>To connect people globally across the spectrum of knowledge</h3>

                        </div>

                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </section>

        <div class="">
            <p class="banner_text">Stay connected to the best user generated social networking contents with intellectually 
                focused solutions based on knowledge sharing</p>

           <!--  <div class="w3ls-button w3ls-button2">
                <a href="#" data-toggle="modal" data-target="#myModal3" class="read hvr-shutter-out-vertical">Sign Up Its Free</a>
            </div> -->

            <div class="w3-button">
                <!-- <div class="w3ls-button">
                    <a href="#" class="hvr-shutter-out-vertical">Learn More</a>
                </div> -->
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-reddit" href="#" data-toggle="modal" data-target="#myModal3">
                            Sign Up Its Free
                        </a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>  <br>
                <br><br>
                
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-social btn-facebook" href="members/auth/facebook">
                            <span class="fa fa-facebook"></span> Continue with Facebook
                        </a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>  <br>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-social btn-google" href="members/auth/google">
                            <span class="fa fa-google"></span> Continue with Google
                        </a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>  <br>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-social btn-linkedin" href="members/auth/linkedin">
                            <span class="fa fa-linkedin"></span> Continue with LinkedIn
                        </a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>  <br>

                <h3 style="color: #fff">OR</h3><br>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-reddit" href="#" data-toggle="modal" data-target="#myModal2">
                            Log in Using Your Email
                        </a>
                    </div>
                    <div class="col-sm-3"></div>
                </div>  <br>

                
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
<!--banner end here-->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile" id="overview">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.8em; margin: 0.8em;text-transform: uppercase;color: #86be25!important;">Overview</h2>
        <p class="content_text more">{{data.overview.body}}</p>
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile" id="who_we_are">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.8em; margin: 0.8em;text-transform: uppercase;color: #86be25!important;">Who We Are</h2>
        <p class="content_text more">{{data.who_we_are.body}}</p>
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile" id="how_it_works">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.8em; margin: 0.8em;text-transform: uppercase;color: #86be25!important;">how it works</h2>
        
    </div>
</div>    
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">questions & answers</h2>
        <p class="content_text more">Ask questions so that other users on the platform could answer or answer other asker's questions too. You can also ask and post questions directly based on request for more detailed answers to <span style="color: #86be25">domiit experts</span> whom are selected users approved by the platform.
        </p>
       <!--  <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">articles & reviews</h2>
        <p class="content_text more">Write or post articles directly on the platform or upload/attach documents from external sources for other users to carry out reviews. You can also review other user’s articles on the platform or make requests for reviews exclusively from  <span style="color: #86be25">domiit experts</span>.
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">riddles & solutions</h2>
        <p class="content_text more">Post riddles for others to provide solutions for them or write solutions for other user’s posted riddles. You can also make  <span style="color: #86be25">requests</span>for solutions directly from <span style="color: #86be25">domiit experts</span> for enhanced solutions. 
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->


<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">posted books</h2>
        <p class="content_text more">Authors and book vendors can post the cover pages of their books and other publications directly on the platform for advertisement at a premium.  
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">requests</h2>
        <p class="content_text more">Users can exclusively send their requests to <span style="color: #86be25">experts</span> for direct answers, reviews, and solutions through the following sub-menus;<span style="color: #86be25">Request Answer (RA), Request Review (RR),</span> and <span style="color: #86be25">Request Solution (RS).</span>The <span style="color: #86be25">experts</span> will respond to the requests based on their preferences.
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">domiit experts</h2>
        <p class="content_text more">A <span style="color: #86be25">domiit expert</span> is an individual on the platform that have been verified as an excellent intellectual contributor in the areas of answering questions, reviewing articles and proffering solutions for riddles. Such individual will be certified and recognised as an experts by the platform and would be tagged with letters <span style="color: #86be25">‘DE’</span>.
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.8em; margin: 0.8em;text-transform: uppercase;color: #86be25!important;">additional features</h2>
        
    </div>
</div>    
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">advertisement</h2>
        <p class="content_text more">Apart from the normal advert from publishers for both desktop and mobile version; this platform will enable self-serve advertisement through its self-serve ad manager. 
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">download</h2>
        <p class="content_text more">Users can download materials from articles posted on the platform at a freemium or upgrade to a premium account to download more.
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->


<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">data storage spaces</h2>
        <p class="content_text more">There is a data storage space for users in their ‘my docs’ document space. Users can store documents up to 500MB disc space on a freemium account. However, they can upgrade their storage spaces up to 20GB disc space on a premium account. 
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">social interconnectivity </h2>
        <p class="content_text more">Enabling effective and seamless interconnectivity between people of like minds, diverse ideas and opinions is our main goal. Therefore, this knowledge interconnectivity platform will allow users to enjoy varied and dynamic experiences in intellectual content sharing. 
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">instant cross referencing </h2>
        <p class="content_text more">Cross referencing of various knowledge tools and resources is much easier if all are integrated into a single platform. And that is exactly what this concept is all about; bringing the entire resources into one fold to enable easy cross referencing to maximised its knowledge centric output. 
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">personalised online library</h2>
        <p class="content_text more">Allowing users to download contents for their personal use will enable personalised online library handy and interesting. Since the platform provides a storage system for downloadable materials, users will explore this opportunity to download as much as they can for their future use. 
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->


<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 1.2em; margin: 1em;text-transform: uppercase;">content sorting </h2>
        <p class="content_text more">Sorting out the best answers, reviews and solutions based on the number of up votes and views from other users will enable a unique prioritization of contents to add more value. Therefore at a click of a button, the platform will sort out the best responses based on the highest number of up votes or views from other users.
        </p>
        <!-- <div class="w3ls-button w3ls-button2">
            <a href="#" class="read hvr-shutter-out-vertical">Learn More</a>
        </div> -->
    </div>
</div>
<!-- //banner_bottom_w3ls_agile -->




<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Login</h3>	
                    <div class="login-form">
                        <form action="" method="post" id="login_member">
                            <span class="form_submission_error"></span>
                            <span class="form_submission_success"></span>

                            <input type="email" name="log_email" id="log_email" placeholder="E-mail" required="" value="simon@gmail.com">
                            <input type="password" value="password" name="log_password" id="log_password" placeholder="Password" required="">
                            <div class="tp">
                                <input type="submit" name="submit" value="Login">
                            </div>
                        </form>
                    </div>
                    <p><a href="#" data-toggle="modal" data-target="#myModal3" > Don't have an account?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->	
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">
                    <h3 class="agileinfo_sign">Register</h3>

                    <div class="login-form">                            

                        <form action="" method="post" id="register_member">
                            <span class="form_submission_error"></span>
                            <span class="form_submission_success"></span>
                            <!--  <input type="text" id="username" name="username" placeholder="Username" required=""> -->
                            <input type="email" id="email" name="email" value="" placeholder="Email" required="">
                            <input type="password" id="password" value="" name="password" placeholder="Password" required="">
                            <input type="password" id="cpassword" value="" name="cpassword" placeholder="Confirm Password" required="">
                            <input type="submit" name="submit" value="Register" />
                        </form>
                    </div>
                    <p><a href="#"> By clicking register, You agree to the terms</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //Modal3 -->
<!--banner bottom-->
<div class="banner-btm-w3layouts"  id="about">
    <div class="container">
        <div class="tittle-agileinfo">
            <h2>Latest Announcements</h2>
        </div>
        <div class="about-main">
            <div class="col-md-4 about-grids" data-aos="zoom-in" style="background-color:#fff;">
                <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
                <span style="color: #86be25; font-size: 0.8em">13 october 2017</span>
                <h3 class="subheading-agileits-w3layouts">Welcome</h3>
                <p class="para-agileits-w3layouts">Stay connected to the best user generated social networking</p>
                <p style="color: #86be25; font-size: 0.8em">read more</p>
            </div>
            <div class="col-md-4 about-grids" data-aos="zoom-in" style="background-color:#fff;">
                <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
                <span style="color: #86be25; font-size: 0.8em">13 october 2017</span>
                <h3 class="subheading-agileits-w3layouts">Introducing Innovation</h3>
                <p class="para-agileits-w3layouts">Stay connected to the best user generated social networking</p>
                <p style="color: #86be25; font-size: 0.8em">read more</p>
            </div>
            <div class="col-md-4 about-grids" data-aos="zoom-in" style="background-color:#fff;">
                <!--<i class="fa fa-bookmark-o" aria-hidden="true"></i>-->
                <span style="color: #86be25; font-size: 0.8em">13 october 2017</span>
                <h3 class="subheading-agileits-w3layouts">Adding New features</h3>
                <p class="para-agileits-w3layouts">Stay connected to the best user generated social networking</p>
                <p style="color: #86be25; font-size: 0.8em">read more</p>
            </div>
            <div class="clearfix"> </div>   
        </div>
    </div>
</div>

<!--//banner bottom-->


<!-- contact -->
<div class="contact" id="contact">
    <div class="container">

        <!--footer-->
        <div class="copy">
            <p>© 2017 domiit . All Rights Reserved &nbsp; | &nbsp;<a href="#" class="">Privacy policy</a> </p>
        </div>
        <!--/footer -->
    </div>
</div>
<!-- //contact -->

<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!--search-bar-->
<script src="js/main.js"></script>  
<!--//search-bar-->
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(function () {
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>

<script src="js/jzBox.js"></script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
            
        </script>
        <!-- start-smoth-scrolling -->
        <!-- smooth scrolling -->
        <script type="text/javascript">
            $(document).ready(function () {

               $().UItoTop({easingType: 'easeOutQuart'});
           });
       </script>
       <!-- Animation-effect -->
       <script src='js/aos.js'></script>
       <script src="js/aosindex.js"></script>
       <!-- //Animation-effect -->
       <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
       <!-- //smooth scrolling -->
       <script src="js/bootstrap.js"></script>

       <script src="js/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>

       <script type="text/javascript">
         function resetFields(){
            $('#login_member .form_submission_success').html("");
            $('#login_member .form_submission_error').html("");
            $('#register_member .form_submission_success').html("");
            $('#register_member .form_submission_error').html("");
        }
        $.validator.setDefaults( {} );

        $( document ).ready( function () {

            $( "#register_member" ).validate( {
                rules: {                    
                        // username: {
                        //     required: true,
                        //     minlength: 6
                        // },
                        password: {
                            required: true,
                            minlength: 6
                        },
                        cpassword: {
                            required: true,
                            minlength: 6,
                            equalTo: "#password"
                        },
                        email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {

                        // username: {
                        //     required: "Please enter a username",
                        //     minlength: "Your username must consist of at least 6 characters"
                        // },
                        password: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 6 characters long"
                        },
                        cpassword: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 5 characters long",
                            equalTo: "Please enter the same password as above"
                        },
                        email: "Please enter a valid email address"
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#register_member').serialize();
                    console.log(formData);
                    var my_url="{{url}}/members/register";

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:formData,
                    // crossDomain:true,
                    dataType:'json',
                            // contentType: 'application/json', 
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log('success');
                                if(response.success==true){
                                    $('#register_member .form_submission_success').append(response.msg);
                                    //clear msgs & show login
                                    setTimeout(function(){
                                        $('#register_member .form_submission_success').html("");

                                        $('#myModal3').modal('hide');
                                        resetFields();
                                        $('#myModal2').modal({backdrop:false,keyboard:false});
                                    },3000);
                                }else{
                                    $('#register_member .form_submission_error').append(response.msg);
                                }
                            },
                            error:function(xhr, status, err){
                                ('#register_member .form_submission_error').append('Operation Failed');
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
                }
            } );

$( "#login_member" ).validate( {
    rules: {                    

        password: {
            required: true
        },
        
        email: {
            required: true
            
        }
    },
    messages: {

        password: {
            required: "Please provide a password"
        },        
        email: "Please enter an email"
    },
    errorElement: "em",
    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#login_member').serialize();
                    console.log(formData);

                    $.ajax({
                        url:'{{url}}/members/login',
                        type:'POST',
                        data:formData,
                        dataType:'json',
                        headers: {'X-My-App-Token': 'loganstyles'},
                            // contentType: false, 
                            success:function(response){
                                console.log('success');
                                console.log(response);
                                if(response.success==true){
                                    window.location.href="{{url}}/dashboard";
                                    
                                }else{
                                    $('#login_member .form_submission_error').append(response.msg);

                                }
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
                }
            } );


// Configure/customize these variables.
    var showChar = 250;  // How many characters are shown by default
    var ellipsestext = "....";
    var moretext = "See more";
    var lesstext = "See less";
    

    $('.more').each(function() {
        var content = $(this).html();

        if(content.length > showChar) {

            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);

            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<div style="width:100%;padding:1%;"><button type="button" style="margin:0 auto;background-color: #86be25;color:#fff;" class="morelink btn btn-default">' + moretext + '</button></div></span>';

            $(this).html(html);
        }

    });

    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });


} );
</script>

</body>
</html>