{{>header}}
<div class="container">
    <div class="banner-bottom">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner-bottom-text">
                            <h3>To Connect People Globally Across The Spectrum of Knowledge</h3>                                       

                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </section>
        <div class="">
            <div class="w3-button">
                <div class="w3ls-button">
                    <a href="#" class="hvr-shutter-out-vertical">Learn More</a>
                </div>
                <div class="w3l-button">
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="hvr-shutter-out-vertical scroll ">Login with Email</a>

                </div><br><br>
                <div >
                    <a class="loginBtn loginBtn--facebook" href="members/auth/facebook">Login with Facebook</a>

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>
<!--banner end here-->

<!-- /banner_bottom_w3ls_agile -->
<div class="banner_bottom_w3ls_agile">
    <div class="banner_bottom_w3ls_info">
        <h2 class="agile_heading" style="font-size: 3em; margin: 1em;">Let's Get Started</h2>
        <p class="banner_text">Stay connected to the best user generated social networking contents with intellectually 
            focused solutions based on knowledge sharing</p>
            
            <div class="w3ls-button w3ls-button2">
                <a href="#" data-toggle="modal" data-target="#myModal3" class="read hvr-shutter-out-vertical">Sign Up Its Free</a>
            </div>
        </div>
    </div>
    <!-- //banner_bottom_w3ls_agile -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="signin-form profile">
                        <h3 class="agileinfo_sign">Login</h3>	
                        <div class="login-form">
                            <form action="" method="post" id="login_member">
                                <span class="form_submission_error"></span>
                                <span class="form_submission_success"></span>
                                <input type="email" name="log_email" id="log_email" placeholder="E-mail" required="" value="simon@gmail.com">
                                <input type="password" value="password" name="log_password" id="log_password" placeholder="Password" required="">
                                <div class="tp">
                                    <input type="submit" name="submit" value="Login">
                                </div>
                            </form>
                        </div>
                            <p><a href="#" data-toggle="modal" data-target="#myModal3" > Don't have an account?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Modal2 -->	
        <!-- Modal3 -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="signin-form profile">
                            <h3 class="agileinfo_sign">Register</h3>

                            <div class="login-form">                            

                                <form action="" method="post" id="register_member">
                                    <span class="form_submission_error"></span>
                                    <span class="form_submission_success"></span>
                                   <!--  <input type="text" id="username" name="username" placeholder="Username" required=""> -->
                                    <input type="email" id="email" name="email" value="simon@gmail.com" placeholder="Email" required="">
                                    <input type="password" id="password" value="password" name="password" placeholder="Password" required="">
                                    <input type="password" id="cpassword" value="password" name="cpassword" placeholder="Confirm Password" required="">
                                    <input type="submit" name="submit" value="Register" />
                                </form>
                            </div>
                            <p><a href="#"> By clicking register, You agree to the terms</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- //Modal3 -->
        <!--banner bottom-->
        <div class="banner-btm-w3layouts" id="about">
            <div class="container">
                <div class="tittle-agileinfo">
                    <h2>Latest Announcements</h2>
                </div>
                <div class="about-main">
                    <div class="col-md-4 about-grids" data-aos="zoom-in">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <h3 class="subheading-agileits-w3layouts">Welcome</h3>
                        <p class="para-agileits-w3layouts">Stay connected to the best user generated social networking</p>
                    </div>
                    <div class="col-md-4 about-grids" data-aos="zoom-in">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <h3 class="subheading-agileits-w3layouts">Introducing Innovation</h3>
                        <p class="para-agileits-w3layouts">Gain access to lots of informative articles </p>
                    </div>
                    <div class="col-md-4 about-grids" data-aos="zoom-in">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <h3 class="subheading-agileits-w3layouts">Exciting New features</h3>
                        <p class="para-agileits-w3layouts">Make requests, solve riddles and post books</p>
                    </div>
                    <div class="clearfix"> </div>	
                </div>
            </div>
        </div>

        <!--//banner bottom-->
        

        <!-- contact -->
        <div class="contact" id="contact">
            <div class="container">

                <!--footer-->
                <div class="copy">
                    <p>© 2017 Domiit . All Rights Reserved </a> </p>
                </div>
                <!--/footer -->
            </div>
        </div>
        <!-- //contact -->

        <!-- js -->
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <!--search-bar-->
        <script src="js/main.js"></script>  
        <!--//search-bar-->
        <!-- FlexSlider -->
        <script defer src="js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(function () {
            });
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        
        <script src="js/jzBox.js"></script>
        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
            // jQuery(document).ready(function ($) {
            //     $(".scroll").click(function (event) {
            //         event.preventDefault();
            //         $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            //     });
            // });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- smooth scrolling -->
        <script type="text/javascript">
            $(document).ready(function () {

             $().UItoTop({easingType: 'easeOutQuart'});
         });
     </script>
     <!-- Animation-effect -->
     <script src='js/aos.js'></script>
     <script src="js/aosindex.js"></script>
     <!-- //Animation-effect -->
     <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     <!-- //smooth scrolling -->
     <script src="js/bootstrap.js"></script>

     <script src="js/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>

     <script type="text/javascript">
       function resetFields(){
        $('#login_member .form_submission_success').html("");
            // $('#log_email').val("");
            // $('#log_password').val("");
            $('#login_member .form_submission_error').html("");
            // $('#email').val("");
            // $('#password').val("");
            $('#register_member .form_submission_success').html("");
            $('#register_member .form_submission_error').html("");
            }
            $.validator.setDefaults( {} );

            $( document ).ready( function () {

                $( "#register_member" ).validate( {
                    rules: {                    
                        // username: {
                        //     required: true,
                        //     minlength: 6
                        // },
                        password: {
                            required: true,
                            minlength: 6
                        },
                        cpassword: {
                            required: true,
                            minlength: 6,
                            equalTo: "#password"
                        },
                        email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {

                        // username: {
                        //     required: "Please enter a username",
                        //     minlength: "Your username must consist of at least 6 characters"
                        // },
                        password: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 6 characters long"
                        },
                        cpassword: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 5 characters long",
                            equalTo: "Please enter the same password as above"
                        },
                        email: "Please enter a valid email address"
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#register_member').serialize();
                    console.log(formData);
                    var my_url="{{url}}/members/register";

                $.ajax({
                    url:my_url,
                    type:'POST',
                    data:formData,
                    // crossDomain:true,
                    dataType:'json',
                            // contentType: 'application/json', 
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log('success');
                                if(response.success==true){
                                    $('#register_member .form_submission_success').append(response.msg);
                                    //clear msgs & show login
                                    setTimeout(function(){
                                        $('#register_member .form_submission_success').html("");

                                        $('#myModal3').modal('hide');
                                        resetFields();
                                        $('#myModal2').modal({backdrop:false,keyboard:false});
                                    },3000);
                                }else{
                                    $('#register_member .form_submission_error').append(response.msg);
                                }
                            },
                            error:function(xhr, status, err){
                                ('#register_member .form_submission_error').append('Operation Failed');
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
            }
        } );

$( "#login_member" ).validate( {
    rules: {                    

        password: {
            required: true
        },
        
        email: {
            required: true
            
        }
    },
    messages: {

        password: {
            required: "Please provide a password"
        },        
        email: "Please enter an email"
    },
    errorElement: "em",
    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#login_member').serialize();
                console.log(formData);

                $.ajax({
                    url:'{{url}}/members/login',
                    type:'POST',
                    data:formData,
                    dataType:'json',
                    headers: {'X-My-App-Token': 'loganstyles'},
                            // contentType: false, 
                            success:function(response){
                                console.log('success');
                                console.log(response);
                                if(response.success==true){
                                    window.location.href="{{url}}/dashboard";
                                
                            }else{
                                $('#login_member .form_submission_error').append(response.msg);

                            }
                        },
                        error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                    });
            }
        } );


} );
</script>

</body>
</html>