{{>header_member}}

<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">  </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">                            
                            <!-- BEGIN MODALS FOR EDIT-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3" style="padding-right: 0px;">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <div class="profile-sidebar">
                                            <!-- PORTLET MAIN -->
                                            <div class="portlet light profile-sidebar-portlet ">

                                                <!-- SIDEBAR MENU -->
                                                <div class="profile-usermenu">
                                                    <ul class="nav">
                                                        <li class="active">
                                                            <a href="{{url}}/posts/getRequests">
                                                            <img alt="" class="icon_size" src="{{url}}/images/my_requests.png">
                                                                My Requests ({{req_count}})</a>
                                                                <hr class="long_length">
                                                            </li>
                                                           
                                                            <li>
                                                                <a href="{{url}}/posts/get_bookmarked" style="margin-left: 2px;">
                                                                    <img alt="" class="icon_size" src="{{url}}/images/my_bookmarked_items.png"> My Bookmarked Items ({{bookmarks_count}})</a>
                                                                </li>
                                                                </ul>
                                                            </div>
                                                            <!-- END MENU -->
                                                        </div>
                                                        <!-- END PORTLET MAIN -->
                                                        <!-- PORTLET MAIN -->
                                                        <div class="portlet light ">                                    
                                                            <div>
                                                                <h3 class="profile-desc-title">Advert</h3>
                                                            </div>
                                                        </div>
                                                        <!-- END PORTLET MAIN -->
                                                    </div>
                                                    <!-- END BEGIN PROFILE SIDEBAR -->
                                                </div>

        <div class="col-md-6">                                        
            <!-- BEGIN PORTLET -->

             <div class="panel panel-default portlet">
              <div class="panel-body" style="width: 100%;">
              <div class="posts_top_actions_left">
                    <span class="posts_page_title">{{page_title}}</span>
                </div>
                
                
                <div class="posts_top_actions_right">
                    <!--<a class="page_top_actions" onclick="modalLoader('group','new','');">Create a group</a>&nbsp;-->

                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            
            <div class="question_all_post_area group_all">

            {{#each group_members}}

             <div class="portlet light posted">
             <input type="hidden" id="post_id" value="">
             <input type="hidden" id="post_type" value="">
             <input type="hidden" id="post_member_id" value="{{item_id}}">

                    <div class="portlet-body" style="padding-top: 0px;">
                        <div class="" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <div class="general-item-list">
                                <div class="item">
                                    <div class="item-head">

                                    <div style="width: 100%;"><!--main block-->
                                        <div class="posts_partition_friends"><!--1st partition-->
                                            <div style="width: 100%;">
                                                <div class="section_posts_avatar">
                                                   <img class="icon_size_50 img-circle" src="{{../url}}/{{item_displayPic}}">
                                                </div>
                                                <div class="section_posts_text">
                                                    
                                                    
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>

                                         <div class="posts_partition_friends_middle" style="width: 40%;"><!--2nd partition-->
                                            <span>
                                                {{item_displayName}}
                                                            
                                            </span>
                                        </div>
                                         <div class=""><!--3rd partition-->
                                            <div class="pull-right" style="width: 30%">
                                                 <div class="fromnow"></div>
                                                    <div class="clearfix"></div>

                                                    <a style="color: #86be25;margin-right: 5px;" href="{{../url}}/profile/{{item_id}}" class="post_actions_button_left btn btn-default">View </a>

                                                    {{#if ../isSuperAdmin}}

                                                        {{#if item_isAdminUser}}

                                                            <a style="color: #86be25;" class="post_actions_button_left btn btn-default remove_group_admin">Remove Admin </a>

                                                            {{else}}

                                                            <a style="color: #86be25;" class="post_actions_button_left btn btn-default add_group_admin">Add Admin </a>


                                                        {{/if}}

                                                    

                                                    {{/if}}
                                                
                                            </div><!--end float right-->
                                            <div class="clearfix"></div>
                                        </div>

                                    <div class="clearfix"></div>
                                    </div>                                      
                                        

                                    </div>
                                    

                                        
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET -->
                   
                    

                </div>
            </div>

            {{/each}}


        </div>

        </div>

                <div class="col-md-3"><!--third-->
        <div class="row">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">See What is Trending Now</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                {{#each data_trend}}
                                    <li>
                                        <a href="{{url}}/posts/section/trend/single/{{_id}}">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm">

                                                    {{#if pics}}
                                                        <img class="icon_size" src="{{../url}}/{{category_icon}}">
                                                        {{else}}
                                                        <img class="icon_size" src="{{../url}}/images/trending.png">
                                                    {{/if}}
                                                        
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> {{brief}} ...(more) </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date" style="text-transform: capitalize;"> - {{category}} </div>
                                        </div>
                                        </a>
                                    </li>
                                    {{/each}}
                                                                                                 

                                </ul>
                            </div>
                        </div>

                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <!-- END PORTLET -->
        </div>

        <div class="row">
            <!-- BEGIN PORTLET -->
            <div class="portlet light  tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Check Domiit's Experts</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test" />
                                        <input type="checkbox" class="liChild" name="test" /> </div>
                                        <div class="task-title">
                                            <span class="task-title-sp"> Dr. Samuel Joseph </span>
                                            <span class="label label-sm label-success">Follow</span>

                                        </div>

                                    </li>
                                    <li>
                                        <div class="task-checkbox">
                                            <input type="checkbox" class="liChild" value="" /> </div>
                                            <div class="task-title">
                                                <span class="task-title-sp"> Mr. Jonathan Eboh </span>
                                                <span class="label label-sm label-success">Follow</span>
                                            </div>                                                                
                                        </li>
                                        <li>
                                            <div class="task-checkbox">
                                                <input type="checkbox" class="liChild" value="" /> </div>
                                                <div class="task-title">
                                                    <span class="task-title-sp"> Bellow Umaru </span>
                                                    <span class="label label-sm label-success">Follow</span>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="task-checkbox">
                                                    <input type="checkbox" class="liChild" value="" /> </div>
                                                    <div class="task-title">
                                                        <span class="task-title-sp"> Titus Bradley </span>
                                                        <span class="label label-sm label-success">Follow</span>
                                                    </div>
                                                </li>

                                            </ul>
                                            <!-- END START TASK LIST -->
                                        </div>
                                    </div>
                                    <div class="task-footer">
                                        <div class="btn-arrow-link pull-right">
                                            <a href="javascript:;">See All Tasks</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="portlet light  tasks-widget">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <i class="icon-bar-chart theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase">Adverts</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="task-content">
                                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>

                                    </div>   



                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>

            <!-- START MODAL PORTLET-->

            <div class="portlet-body form">  

            <!--add_admin modal-->
            <div id="add_admin_modal" class="modal fade" tabindex="-1">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="add_member_header">Add Admin</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="add_admin_form" action="" method="post">
                  <span class="form_submission_error"></span>
                  <span class="form_submission_success"></span>

                  <input type="hidden" name="add_group_id"  id="add_group_id" value="{{data._id}}">
                  <input type="hidden" name="add_member_id"  id="add_member_id" value="">

                  <h4>Are you sure you want to make this member an admin of this group?</h4>

                  <div class="form-actions noborder">
                    <input type="submit" class="btn blue" name="submit" value="Add" />
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                  </div>
                </form>
              </div>

            </div> 

            <!--remove_admin modal-->
            <div id="remove_admin_modal" class="modal fade" tabindex="-1">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="remove_member_header">Remove Admin</h4>
              </div>
              <div class="modal-body">
                <form role="form" id="remove_admin_form" action="" method="post">
                  <span class="form_submission_error"></span>
                  <span class="form_submission_success"></span>

                  <input type="hidden" name="remove_group_id"  id="remove_group_id" value="{{data._id}}">
                  <input type="hidden" name="remove_member_id"  id="remove_member_id" value="">

                  <h4>Are you sure you want to remove this member from admins of this group?</h4>

                  <div class="form-actions noborder">
                    <input type="submit" class="btn blue" name="submit" value="Remove" />
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                  </div>
                </form>
              </div>

            </div>                                        

            </div>

               
            </div>


            <!-- END MODAL PORTLET-->
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>

            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {{>footer_cms}}

        <script type="text/javascript">

            $( document ).ready( function () {

                //for add admin:get id,section & display modal
                $("body").on('click','.add_group_admin',function(e){

                    var parent=$(this).parents('.posted');
                    var member_id=parent.find('input#post_member_id').val();

                    //update & show modal
                    $('#add_admin_modal').modal({backdrop: false, keyboard: false});
                    $('#add_admin_modal #add_member_id').val(member_id);

                });

                /*add member to group admins*/
                $("body").on('submit','#add_admin_form',function(e){
                    e.preventDefault();

                    var sub_button=$(this).find(':submit');
                    var old_button_val=sub_button.val();
                    sub_button.prop('disabled', true);
                    sub_button.val('...processing');

                    resetFields();
                    var my_url="{{url}}/addAdmin";
                    //console.log('url: '+my_url);
                    
                    var form_data=$(this).serialize();
                    //console.log(form_data);

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:form_data,
                        headers: {'X-My-App-Token': 'loganstyles'},
                        success:function(response){
                            //console.log(response);
                            if(response.success==true){
                            $('#add_admin_form  .form_submission_success').text(response.msg);
                            setTimeout(function(){
                                $('#add_admin_form  .form_submission_success').text('');
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                                $('#add_admin_modal').modal('hide');
                                    location.reload();//temp:later use sockets to update the actual post
                                },3000);

                        }else{
                            console.log('response is false');
                            $('#add_admin_form  .form_submission_error').text(response.msg);
                            sub_button.val(old_button_val);
                            sub_button.prop('disabled', false);
                        }


                        },
                        error:function(xhr, status, err){
                            /*console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);*/
                        }
                    });

                });


                //for remove admin:get id,section & display modal
                $("body").on('click','.remove_group_admin',function(e){

                    var parent=$(this).parents('.posted');
                    var member_id=parent.find('input#post_member_id').val();

                    //update & show modal
                    $('#remove_admin_modal').modal({backdrop: false, keyboard: false});
                    $('#remove_admin_modal #remove_member_id').val(member_id);

                });

                /*remove member from group admins*/
                $("body").on('submit','#remove_admin_form',function(e){
                    e.preventDefault();

                    var sub_button=$(this).find(':submit');
                    var old_button_val=sub_button.val();
                    sub_button.prop('disabled', true);
                    sub_button.val('...processing');

                    resetFields();
                    var my_url="{{url}}/removeAdmin";
                    //console.log('url: '+my_url);
                    
                    var form_data=$(this).serialize();
                    //console.log(form_data);

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:form_data,
                        headers: {'X-My-App-Token': 'loganstyles'},
                        success:function(response){
                            //console.log(response);
                            if(response.success==true){
                            $('#remove_admin_form  .form_submission_success').text(response.msg);
                            setTimeout(function(){
                                $('#remove_admin_form  .form_submission_success').text('');
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                                $('#remove_admin_modal').modal('hide');
                                    location.reload();//temp:later use sockets to update the actual post
                                },3000);

                        }else{
                            console.log('response is false');
                            $('#remove_admin_form  .form_submission_error').text(response.msg);
                            sub_button.val(old_button_val);
                            sub_button.prop('disabled', false);
                        }


                        },
                        error:function(xhr, status, err){
                            /*console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);*/
                        }
                    });

                });


            });

            </script>


    </body>

</html>