{{>header_member}}

<!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">  </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">

                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">                            
                        <!-- BEGIN MODALS FOR EDIT-->


                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="col-md-2 col-lg-2"></div>
                            <div class="col-md-8 col-lg-8 profile_top profile_area" style="">                                        

                                <div class="profile_bg"><!--background img-->
                                {{#if backgroundPic}}
                                    <img class="object-fit_cover" src="{{url}}/uploads/{{backgroundPic}}">
                                    {{/if}}
                                </div>

                                <div class="profile_img_container">
                                    <div class="profile_img">
                                    {{#if displayPic}}
                                    <img class="object-fit_cover" src="{{url}}/uploads/{{displayPic}}">
                                    {{/if}}
                                    </div>
                                </div>

                                <div class="profile_editicon_container">
                                    <div class="profile_editicon" onclick="modalLoader('profile_bio1','edit','');">
                                    <img src="{{url}}/images/edit_icon_24.png">

                                    </div>
                                    <div class="clearfix"></div>
                                </div>


                                <div class="profile_hr">
                                    <div class="profile_img_text">
                                        <div>{{user_info.displayName}}</div>
                                        <div>{{user_info.qualification}}</div>
                                        <div>{{user_info.designation}}</div>                                   
                                    </div>
                                    <div class="thin_border_top">

                                    <div class="profile_editicon" style="cursor: pointer;" onclick="modalLoader('profile_desc','edit','');">
                                      <img src="{{url}}/images/edit_icon_24.png">

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="more">
                                      {{user_info.description}}
                                    </div>

                                  </div>
                                  <div class="thin_border_top">
                                      <div class="col-md-6 col-lg-6 col-sm-12 profile_bios">
                                        <div class="profile_text_section">
                                        <div class="profile_editicon" style="cursor: pointer;" onclick="modalLoader('profile_bio1','edit','');">
                                    <img class="icon_size_15" src="{{url}}/images/edit_icon_24.png">

                                    </div>
                                    <div class="clearfix"></div>
                                            <span class="profile_text_head">Age:</span>
                                            <span class="profile_text_body"></span>          
                                          </div>

                                          <div class="profile_text_section thin_border_top multiple">
                                            <div class="profile_text_head ">Education:</div>

                                            <div class="profile_subitem">

                                              <div class="profile_text_body">
                                                <div class="profile_text_title"><strong>Ahmdu bello university</strong></div>
                                                <div class="profile_text_duration">2005 - 2010</div>
                                              </div>

                                              <div class="profile_text_body_icons">
                                                <div class="action_icons">
                                                  <img class="icon_size_15" src="{{url}}/images/add.png">
                                                  <div class="clearfix"></div>
                                                </div>
                                                <div class="action_icons">
                                                  <img class="icon_size_15" src="{{url}}/images/edit_icon_24.png">
                                                  <div class="clearfix"></div>
                                                </div>
                                                
                                              </div>

                                              <div class="clearfix"></div>
                                            </div>

                                            <div class="profile_text_body">
                                                <div class="profile_text_title"><strong>NIIT</strong></div>
                                                <div class="profile_text_duration">2011 - 2015</div>
                                            </div>                                                  
                                          </div>

                                         <!--  <div class="profile_text_section thin_border_top">
                                              <div class="profile_text_head">
                                                <strong>Qualifications:</strong>
                                              </div>
                                              <div class="profile_text_body">
                                                <div class="profile_text_title">Bsc(Hons) Mathematics</div>
                                                <div class="profile_text_title">Bsc(Hons) English</div>
                                              </div>                                                  
                                          </div>
                                          <div class="profile_text_section thin_border_top">
                                              <div class="profile_text_head">
                                                <strong>Schools Attended:</strong>
                                              </div>
                                              <div class="profile_text_body">
                                                <div class="profile_text_title">High School</div>
                                                <div class="profile_text_title">College</div>
                                              </div>                                                  
                                          </div>
                                           <div class="profile_text_section thin_border_top">
                                              <div class="profile_text_head">
                                                <strong>Certifications:</strong>
                                              </div>
                                              <div class="profile_text_body">
                                                <div class="profile_text_title">High School Cert</div>
                                                <div class="profile_text_title">Low School Cert</div>
                                              </div>                                                  
                                          </div>

                                          <div class="profile_text_section">
                                            <span class="profile_text_head">Email address:</span>
                                            <span class="profile_text_body">silicon@yahoo.com</span>          
                                          </div> -->
                                                                                        
                                      </div>

                                      <div class="col-md-6 col-lg-6 col-sm-12 ">                 
                                          <div class="profile_text_section line_space">
                                            <div class="profile_text_head">Friends:</div>
                                            <div class="profile_text_body">{{friends_count}}</div>  
                                            <div class="clearfix"></div>     
                                          </div>

                                          <div class="profile_text_section line_space">
                                            <div class="profile_text_head">Follows:</div>
                                            <div class="profile_text_body">{{user_info.follows}}</div>
                                            <div class="clearfix"></div>       
                                          </div>

                                          <div class="profile_text_section line_space">
                                            <div class="profile_text_head">Followed:</div>
                                            <div class="profile_text_body">{{user_info.followed}}</div>
                                            <div class="clearfix"></div>         
                                          </div>

                                          <div class="profile_text_section line_space">
                                            <div class="profile_text_head">Upvotes:</div>
                                            <div class="profile_text_body">{{user_info.upvotes}}</div>
                                            <div class="clearfix"></div>         
                                          </div>

                                          <div class="profile_text_section line_space">
                                            <div class="profile_text_head">Downvotes:</div>
                                            <div class="profile_text_body">{{user_info.downvotes}}</div>
                                            <div class="clearfix"></div>        
                                          </div>
                                                                                        
                                      </div>
                                      
                                  </div>
                              </div>

                          </div>
                            <div class="col-md-2 col-lg-2"></div>
                          </div>
                      </div>

                      <!--activities-->
                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                          <div class="col-md-2 col-lg-2"></div>
                          <div class="col-md-8 col-lg-8 profile_top profile_area">                                        

                           <div class="col-md-12 col-lg-12 col-sm-12 ">
                             <div class="profile_section_top_button">
                               <a href="javascript:;" style="color: #86be25;" class="btn btn-outline sbold"> Activities</a>
                             </div>
                             
                             <div class="profile_activities">               
                              <div class="profile_text_section">
                                <span class="profile_text_head">Questions asked:</span>
                                <span class="profile_text_body">150</span>          
                              </div>

                              <div class="profile_text_section">
                                <span class="profile_text_head">Answers provided:</span>
                                <span class="profile_text_body">10</span>          
                              </div>
                              <div class="bottom_see_more">
                                <button type="button" style="color: #86be25;" onclick="modalLoader('question','new','');" class="btn btn-default">SEE MORE</button>
                              </div>
                              <div class="clearfix"></div>
                              <div id="profile_">
                                
                              </div>
                            </div>

                            <div class="profile_activities thin_border_top">               
                              <div class="profile_text_section">
                                <span class="profile_text_head">Articles posted:</span>
                                <span class="profile_text_body">20</span>          
                              </div>

                              <div class="profile_text_section ">
                                <span class="profile_text_head">Articles reviewed:</span>
                                <span class="profile_text_body">30</span>          
                              </div>
                              <div class="bottom_see_more">
                                <button type="button" style="color: #86be25;" class="btn btn-default">SEE MORE</button>
                              </div>

                              <div class="clearfix"></div>
                            </div>

                            <div class="profile_activities thin_border_top">               
                              <div class="profile_text_section">
                                <span class="profile_text_head">Riddles posted:</span>
                                <span class="profile_text_body">20</span>          
                              </div>

                              <div class="profile_text_section ">
                                <span class="profile_text_head">Solutions provided:</span>
                                <span class="profile_text_body">30</span>          
                              </div>
                              <div class="bottom_see_more">
                                <button type="button" style="color: #86be25;" class="btn btn-default">SEE MORE</button>
                              </div>

                              <div class="clearfix"></div>
                            </div>

                            <div class="profile_activities thin_border_top">              

                              <div class="profile_text_section ">
                                <span class="profile_text_head">Books posted:</span>
                                <span class="profile_text_body">30</span>          
                              </div>
                              <div class="bottom_see_more">
                                <button type="button" style="color: #86be25;" class="btn btn-default">SEE MORE</button>
                              </div>

                              <div class="clearfix"></div>
                            </div>


                          </div>

                        </div>
                        <div class="col-md-2 col-lg-2"></div>
                      </div>
                    </div>

                    <!--violations-->
                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                          <div class="col-md-2 col-lg-2"></div>
                          <div class="col-md-8 col-lg-8 profile_top profile_area">                                        

                           <div class="col-md-12 col-lg-12 col-sm-12 ">
                             <div class="profile_section_top_button">
                               <a href="javascript:;" style="color: #86be25;" class="btn btn-outline sbold"> violations</a>
                             </div>
                             
                             <div class="profile_activities">               
                              <div class="profile_text_section">
                                <span class="profile_text_head">No report of violations</span>
                              </div>
                            </div>                           
                            
                          </div>

                        </div>
                        <div class="col-md-2 col-lg-2"></div>
                      </div>
                    </div>


                  </div>
                  <!-- END PAGE CONTENT INNER -->
              </div>
          </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>

        <!-- START MODAL PORTLET-->

        <div class="portlet-body form">  

        <div id="profile_bio1_modal" class="modal fade" tabindex="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="profile_bio1_header">Edit Intro</h4>
                    </div>
                    <div class="modal-body">
                 <form role="form" id="profile_bio1_form" action="" method="post" enctype="multipart/form-data">
                        <span class="form_submission_error"></span>
                        <span class="form_submission_success"></span>

                            <input type="hidden" name="profile_bio1_id"  id="profile_bio1_id" value="0">

                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3">Firstname </label>
                                <div class="col-md-9">
                                    <input type="text" name="profile_bio1_firstname" id="profile_bio1_firstname" value="{{user_info.firstname}}">
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3">Lastname </label>
                                <div class="col-md-9">
                                    <input type="text" name="profile_bio1_lastname" id="profile_bio1_lastname" value="{{user_info.lastname}}">
                                </div>
                            </div>


                             <div class="form-group">
                                <label for="profile_bio1_displayPic" class="custom-file-upload">
                                    <i class="fa fa-camera"></i> Upload Avatar
                                </label>
                                <input id="profile_bio1_displayPic" name="profile_bio1_displayPic" type="file" accept="application/x-zip-compressed,image/*"/>
                                <p class="help-block"> Optional </p>
                            </div>

                            <div class="form-group">
                                <label for="profile_bio1_backgroundPic" class="custom-file-upload">
                                    <i class="fa fa-camera"></i> Upload Background Picture
                                </label>
                                <input id="profile_bio1_backgroundPic" name="profile_bio1_backgroundPic" type="file" accept="application/x-zip-compressed,image/*"/>
                                <p class="help-block"> Optional </p>
                            </div>
                            <div class="form-actions noborder">
                                <input type="submit" class="btn blue" name="submit" value="Save" />
                                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                            </div>
                        </form>
                  </div>
        </div>  

        <!--description modal-->
        <div id="profile_desc_modal" class="modal fade" tabindex="-1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="profile_desc_header">Edit Description</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="profile_desc_form" action="" method="post">
              <span class="form_submission_error"></span>
              <span class="form_submission_success"></span>

              <input type="hidden" name="profile_desc_id"  id="profile_desc_id" value="0">

              <div class="form-group">
                <textarea name="profile_desc_description" id="profile_desc_description" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600">{{user_info.description}}</textarea>
              </div>

              <div class="form-actions noborder">
                <input type="submit" class="btn blue" name="submit" value="Save" />
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
              </div>
            </form>
          </div>

        </div>  

        <!--education modal-->
        <div id="profile_edu_modal" class="modal fade" tabindex="-1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="profile_edu_header">Edit Education</h4>
          </div>
          <div class="modal-body">
            <form role="form" id="profile_edu_form" action="" method="post">
              <span class="form_submission_error"></span>
              <span class="form_submission_success"></span>

              <input type="hidden" name="profile_edu_id"  id="profile_edu_id" value="0">

              <div class="form-group">
                <label class="control-label col-md-3">Title</label>
                <input type="text" name="profile_edu_title" id="profile_edu_title" class="form-control">
              </div>

              <div class="form-group">
                <input type="text" name="profile_edu_title" id="profile_edu_title" class="form-control">
              </div>

              <div class="form-group">
                  <label class="control-label col-md-3">From year</label>
                  <div class="col-md-9">
                      <select class="form-control sel_cat" name="profile_edu_from" id="profile_edu_from">
                      {{#myforloop data_quest}}
                          <option value="{{title}}">{{title}}</option>
                      {{/each}}
                      </select>
                  </div>
              </div>

              <div class="form-actions noborder">
                <input type="submit" class="btn blue" name="submit" value="Save" />
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
              </div>
            </form>
          </div>
        </div>  


        <div id="profile_bio2_modal" class="modal fade" tabindex="-1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="profile_bio2_header">Edit Intro</h4>
            </div>
            <div class="modal-body">
         <form role="form" id="profile_bio2_form" action="" method="post" enctype="multipart/form-data">
                <span class="form_submission_error"></span>
                <span class="form_submission_success"></span>

                    <input type="hidden" name="profile_bio2_id"  id="profile_bio2_id" value="0">

                    <div class="form-group form-md-line-input">
                        <label class="control-label col-md-3">Firstname </label>
                        <div class="col-md-9">
                            <input type="text" name="profile_bio2_firstname" id="profile_bio2_firstname" value="{{user_info.firstname}}">
                        </div>
                    </div>

                    <div class="form-group form-md-line-input">
                        <label class="control-label col-md-3">Lastname </label>
                        <div class="col-md-9">
                            <input type="text" name="profile_bio2_lastname" id="profile_bio2_lastname" value="{{user_info.lastname}}">
                        </div>
                    </div>


                     <div class="form-group">
                        <label for="profile_bio2_displayPic" class="custom-file-upload">
                            <i class="fa fa-camera"></i> Upload Avatar
                        </label>
                        <input id="profile_bio2_displayPic" name="profile_bio2_displayPic" type="file" accept="application/x-zip-compressed,image/*"/>
                        <p class="help-block"> Optional </p>
                    </div>

                    <div class="form-group">
                        <label for="profile_bio2_backgroundPic" class="custom-file-upload">
                            <i class="fa fa-camera"></i> Upload Background Picture
                        </label>
                        <input id="profile_bio2_backgroundPic" name="profile_bio2_backgroundPic" type="file" accept="application/x-zip-compressed,image/*"/>
                        <p class="help-block"> Optional </p>
                    </div>
                    <div class="form-actions noborder">
                        <input type="submit" class="btn blue" name="submit" value="Save" />
                        <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                    </div>
                </form>
            </div>

        </div>   



        <div id="question_modal" class="modal fade modal_width" tabindex="-1" style="width: 900px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title" id="question_sub1_header">ACTIVITIES</h4>
            </div>
            <div class="modal-body">

             <div class="profile_activities">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>

            <div class="profile_activities thin_border_top">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>

            <div class="profile_activities">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>

            <div class="profile_activities thin_border_top">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>

            <div class="profile_activities">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>

            <div class="profile_activities thin_border_top">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>

            <div class="profile_activities">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>

            <div class="profile_activities thin_border_top">               
              <div class="profile_text_section">
                <span class="profile_text_head">What is the easiest way to learn C++ and phyton programming languages especially in Nigeria?</span>
              </div>

              
              <div class="bottom_see_more_left">
                <button type="button" style="color: #86be25;" class="btn btn-default">QUESTION</button>
              </div>
              <div class="clearfix"></div>
             
            </div>


          </div>

        </div>


      </div>

        <!-- END MODAL PORTLET-->
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>

        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    {{>footer_cms}}

        <script type="text/javascript">

        
        $( document ).ready( function () {

        $( "#profile_bio1_form" ).validate( {/*validate & submit profile bio1 modal data*/
                rules: {  
                    profile_bio1_firstname: {
                        required: true
                    },
                    profile_bio1_lastname: {
                        required: true,
                    }
                    
                },
                messages: {                        
                    profile_bio1_firstname: {
                        required: "This field is required"
                    },
                    profile_bio1_lastname: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$("#profile_bio1_form").find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields();
                var my_url="{{url}}/update_bio1";
                $("#profile_bio1_form").ajaxSubmit({
                    url:my_url,
                       contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                console.log('image uploaded and form submitted');
                                $('#profile_bio1_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#profile_bio1_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#profile_bio1_modal').modal('hide');
                                     window.location.href="{{url}}/profile";
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#profile_bio1_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
            }
            } );

        $( "#profile_desc_form" ).validate( {/*validate & submit profile description modal data*/
                // rules: {  
                //     profile_desc_description: {
                //         required: true
                //     }
                    
                // },
                // messages: {                        
                //     profile_bio1_firstname: {
                //         required: "This field is required"
                //     }
                // },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },

            submitHandler: function () {
                //modify button
                var sub_button=$("#profile_desc_form").find(':submit');
                var old_button_val=sub_button.val();
                sub_button.prop('disabled', true);
                sub_button.val('...processing');

                resetFields();
                var my_url="{{url}}/update_desc";
                console.log(my_url);
                
                $("#profile_desc_form").ajaxSubmit({
                    url:my_url,
                       // contentType: 'application/json',
                       success: function(response){
                        if(response.success==true){
                                console.log('image uploaded and form submitted');
                                $('#profile_desc_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#profile_desc_form  .form_submission_success').text('');
                                    sub_button.val(old_button_val);
                                    sub_button.prop('disabled', false);
                                    $('#profile_desc_modal').modal('hide');
                                     window.location.href="{{url}}/profile";
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#profile_desc_form  .form_submission_error').text(response.msg);
                                sub_button.val(old_button_val);
                                sub_button.prop('disabled', false);
                            }
                              
                       },
                       error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                   });
                
              }
            } );


        // Configure/customize these variables.
    var showChar = 250;  // How many characters are shown by default
    var ellipsestext = "....";
    var moretext = "See more";
    var lesstext = "See less";
    

    $('.more').each(function() {
        var content = $(this).html();

        if(content.length > showChar) {

            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);

            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<div style="width:100%;padding:2%;"><button type="button" style="margin:0 auto;color: #86be25;" class="morelink btn btn-default">' + moretext + '</button></div></span>';

            $(this).html(html);
        }

    });

    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });



        

            });

            </script>


    </body>

</html>