{{>header_member}}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">

                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet ">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="assets/img/user_profile.png" class="img-responsive" alt=""> </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name"> {{user_info.displayName}} </div>
                                        <div class="profile-usertitle-job"> {{user_info.designation}} </div>
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">
<!--                                        <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                        <button type="button" class="btn btn-circle red btn-sm">Message</button>-->
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li>
                                                <a href="#">
                                                    <i class="icon-home"></i> Invite Friends </a>
                                            </li>
<!--                                            <li class="active">
                                                <a href="page_user_profile_1_account.html">
                                                    <i class="icon-settings"></i> Account Settings </a>
                                            </li>
                                            <li>
                                                <a href="page_user_profile_1_help.html">
                                                    <i class="icon-info"></i> Help </a>
                                            </li>-->
                                        </ul>
                                    </div>
                                    <!-- END MENU -->
                                </div>
                                <!-- END PORTLET MAIN -->
                                <!-- PORTLET MAIN -->
                                <div class="portlet light ">
                                    <!-- STAT -->
                                    <div class="row list-separated profile-stat">
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> {{friends_count}} </div>
                                            <div class="uppercase profile-stat-text"> Friends </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> {{groups_count}} </div>
                                            <div class="uppercase profile-stat-text"> Groups </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> {{requests_count}} </div>
                                            <div class="uppercase profile-stat-text"> Requests </div>
                                        </div>
                                    </div>
                                    <!-- END STAT -->
                                    <div>
                                        <h4 class="profile-desc-title">About</h4>
                                        <span class="profile-desc-text"> {{user_info.description}} </span>
<!--                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-globe"></i>
                                            <a href="http://www.keenthemes.com">www.keenthemes.com</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-twitter"></i>
                                            <a href="http://www.twitter.com/keenthemes/">@keenthemes</a>
                                        </div>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-facebook"></i>
                                            <a href="http://www.facebook.com/keenthemes/">keenthemes</a>
                                        </div>-->
                                    </div>
                                </div>
                                <!-- END PORTLET MAIN -->
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption caption-md">
                                                    <i class="icon-globe theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Edit Profile</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_1_1" data-toggle="tab">Personal Info</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_2" data-toggle="tab">Change Avatar</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_3" data-toggle="tab">Change Password</a>
                                                    </li>
<!--                                                    <li>
                                                        <a href="#tab_1_4" data-toggle="tab">Privacy Settings</a>
                                                    </li>-->
                                                </ul>
                                            </div>
                                            <div class="portlet-body form">
                                                <div class="tab-content">
                                                    <!-- PERSONAL INFO TAB -->
                                                    <div class="tab-pane active" id="tab_1_1">
                                                        <form role="form" action="" id="form_profile" class="form-horizontal">
                                                         <span class="form_submission_error"></span>
                                                        <span class="form_submission_success"></span>

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"><span style="color: #f00;">*</span>First Name</label>
                                                            <div class="col-md-4">
                                                                <input id="firstname" name="firstname" type="text" class="form-control input-circle" placeholder="Your First name" value="{{user_info.firstname}}">
                                                                
                                                            </div>
                                                        
                                                            <label class="col-md-2 control-label"><span style="color: #f00;">*</span>Last Name</label>
                                                            <div class="col-md-4">
                                                                <input type="text" id="lastname" name="lastname" class="form-control input-circle" placeholder="Your Last name" value="{{user_info.lastname}}">
                                                                
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <!-- <label class="col-md-2 control-label"><span style="color: #f00;">*</span>Username</label>
                                                            <div class="col-md-4">
                                                                <input readonly="readonly" id="username" name="username" type="text" class="form-control input-circle" value="{{user_info.username}}" >
                                                                
                                                            </div> -->
                                                            <label class="col-md-2 control-label"><span style="color: #f00;">*</span>Email</label>
                                                            <div class="col-md-4">
                                                                <input readonly="readonly" type="text" id="email" name="email" class="form-control input-circle" value="{{user_info.email}}">
                                                                
                                                            </div>

                                                            <label class="col-md-2 control-label">Phone Number</label>
                                                            <div class="col-md-4">
                                                                <input id="phone" name="phone" type="text" class="form-control input-circle" placeholder="Your Phone" value="{{user_info.phone}}">
                                                                
                                                            </div>
                                                        
                                                            
                                                        </div>

                                                        

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Gender</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" id="gender" name="gender">
                                                    {{#ifEquals user_info.gender 'male'}}
                                                        <option selected value='male'>Male</option>
                                                        <option value='female'>Female</option>
                                                        {{/ifEquals}}

                                                    {{#ifEquals user_info.gender 'female'}}
                                                        <option selected value='female'>Female</option>
                                                        <option value='male'>Male</option>
                                                        {{/ifEquals}}

                                                    </select>
                                                </div>
                                                        
                                                            <label class="col-md-2 control-label"><span style="color: #f00;">*</span>Area of Speciality</label>
                                                            <div class="col-md-4">
                                                                <input type="text" id="speciality" name="speciality" class="form-control input-circle" placeholder="Speciality" value="{{user_info.area_of_speciality}}">
                                                                
                                                            </div>
                                                        </div>
                                                        

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label"><span style="color: #f00;">*</span>Current Appointment (Where you work)</label>
                                                            <div class="col-md-4">
                                                                <input name="work_place" id="work_place" type="text" class="form-control input-circle" placeholder="" value="{{user_info.current_appointment}}">
                                                                
                                                            </div>
                                                        
                                                            <label class="col-md-2 control-label"><span style="color: #f00;">*</span>Designation</label>
                                                            <div class="col-md-4">
                                                                <input type="text" id="designation" name="designation"  class="form-control input-circle" placeholder="Designation" value="{{user_info.designation}}">
                                                                
                                                            </div>
                                                        </div>

                                                        
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Education</label>
                                                            <div class="col-md-4">
                                                                <input name="education" id="education" type="text" class="form-control input-circle" placeholder="High School" value="{{user_info.education}}">
                                                                
                                                            </div>
                                                        
                                                            <label class="col-md-2 control-label"><span style="color: #f00;">*</span>Location of Residence</label>
                                                            <div class="col-md-4">
                                                                <input type="text" id="location" name="location"  class="form-control input-circle" placeholder="location" value="{{user_info.location}}">
                                                                
                                                            </div>
                                                        </div>   
                                                            <div class="form-group">  
                                                                <label class="col-md-2 control-label">About</label>
                                                                <div class="col-md-8">
                                                                <textarea class="form-control" rows="3" placeholder="" id="description" name="description" input-circle>{{user_info.description}}</textarea>
                                                                </div>
                                                                
                                                            </div>
                                                           
                                                            <div class="margiv-top-10 pull-right">
                                                            <input type="submit" name="submit" class="btn green" value="Save Changes" />
                                                               <!--  <a href="javascript:;" class="btn default"> Cancel </a> -->
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </form>
                                                    </div>
                                                    <!-- END PERSONAL INFO TAB -->
                                                    <!-- CHANGE AVATAR TAB -->
    <div class="tab-pane" id="tab_1_2">
        <p> Upload Profile Picture </p>
        <form role="form" action="" id="form_avatar" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                        <img src="" alt="" /> </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                    <div>
                        <span class="btn default btn-file">
                            <span class="fileinput-new"> Select image </span>
                            <span class="fileinput-exists"> Change </span>
                            <input type="file" name="avatar" id="avatar"> </span>
                        <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                    </div>
                </div>
                <div class="clearfix margin-top-10">
<!--                                                                    <span class="label label-danger">NOTE! </span>
                    <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>-->
                </div>
            </div>
            <div class="margin-top-10">
                <a href="javascript:;" class="btn green"> Submit </a>
                <a href="javascript:;" class="btn default"> Cancel </a>
            </div>
        </form>
        <!-- <form role="form" id="form_avatar"  enctype="multipart/form-data"   action="">
      <input type="file" name="avatar" id="" />
      <input type="submit" value="Upload Image" name="submit">
      <span id = "status"></span>
    </form> -->

    </div>
                                                    <!-- END CHANGE AVATAR TAB -->
                                                    <!-- CHANGE PASSWORD TAB -->
                                                    <div class="tab-pane" id="tab_1_3">
                                                        <form role="form" action="" id="form_password" class="form-horizontal">
                                                        <span class="form_submission_error"></span>
                                                        <span class="form_submission_success"></span>
                                                            <div class="form-group">
                                                                <label class="control-label">Current Password</label>
                                                                <input type="password" id="cur_password" name="cur_password" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">New Password</label>
                                                                <input type="password" id="new_password" name="new_password" class="form-control" /> </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Re-type New Password</label>
                                                                <input type="password" id="retype_password" name="retype_password" class="form-control" /> </div>
                                                            <div class="margin-top-10 pull-right">
                                                                <input type="submit" name="submit" class="btn green" value="Change Password" />
                                                                <!-- <a href="javascript:;" class="btn default"> Cancel </a> -->
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </form>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE CONTENT -->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->
        {{>footer_cms}}

        <script type="text/javascript">
            
            function resetFields(){
                $('#form_password .form_submission_success').html("");
                $('#form_password .form_submission_error').html("");
                $('#form_profile .form_submission_success').html("");
                $('#form_profile .form_submission_error').html("");
            }

            $.validator.addMethod('filesize', function (value, element, param) {
                return this.optional(element) || (element.files[0].size <= param)
            }, 'File size must be less than {0}');

            $( document ).ready( function () {

                $( "#form_profile" ).validate( {/*validate & submit user profile & other details*/
                    rules: {  
                        firstname: {
                            required: true
                        },
                        lastname: {
                            required: true,
                        }
                        
                    },
                    messages: {                        
                        firstname: {
                            required: "Please enter your firstname"
                        },
                        lastname: {
                            required: "Please enter your lastname"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#form_profile').serialize();
                    console.log(formData);
                    var my_url="{{url}}/members/update_profile";

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:formData,
                    // crossDomain:true,
                    dataType:'json',
                            // contentType: 'application/json', 
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log('success');
                                if(response.success==true){
                                    console.log('response is true');
                                    $('#form_profile  .form_submission_success').html(response.msg);
                                    setTimeout(function(){
                                        $('#form_profile  .form_submission_success').html('');
                                        window.location.href="{{url}}/profile";
                                    },3000);
                                    
                                }else{
                                    console.log('response is false');
                                    $('#form_profile  .form_submission_error').html(response.msg);
                                }
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
                }
            } );


                /*chg password*/
                $( "#form_password" ).validate( {
                    rules: {  
                        cur_password: {
                            required: true
                        },
                        new_password: {
                            required: true,
                            minlength: 6
                        },
                        retype_password: {
                            required: true,
                            minlength: 6,
                            equalTo: "#new_password"
                        }                        
                    },
                    messages: {                        
                        cur_password: {
                            required: "This field is required"
                        },
                        new_password: {
                            required: "This field is required",
                            minlength: "Your password must be at least 6 characters long"
                        },
                        retype_password: {
                            required: "This field is required",
                            minlength: "Your password must be at least 6 characters long",
                            equalTo: "Please enter the same password as above"
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                    // Add the `help-block` class to the error element
                    error.addClass( "help-block" );

                    if ( element.prop( "type" ) === "checkbox" ) {
                        error.insertAfter( element.parent( "label" ) );
                    } else {
                        error.insertAfter( element );
                    }
                },
                success: function ( label, element ) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if ( !$( element ).next( "span" )[ 0 ] ) {
                        $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                    }
                },
                highlight: function ( element, errorClass, validClass ) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                },
                unhighlight: function (element, errorClass, validClass) {
                    $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                },
                submitHandler: function () {
                    resetFields();
                    var formData = $('#form_password').serialize();
                    console.log(formData);
                    var my_url="{{url}}/members/update_password";

                    $.ajax({
                        url:my_url,
                        type:'POST',
                        data:formData,
                    // crossDomain:true,
                    dataType:'json',
                            // contentType: 'application/json', 
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log('success');
                                if(response.success==true){
                                    console.log('response is true');
                                    $('#form_password .form_submission_success').html(response.msg);
                                    setTimeout(function(){
                                      $('#form_password .form_submission_success').html('');  
                                      window.location.href="{{url}}/profile";
                                  },3000);
                                    
                                }else{
                                    console.log('response is false');
                                    $('#form_password .form_submission_error').html(response.msg);
                                }
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });
                }
            } );


                /*upload avatar*/            
                jQuery(function ($) {
                    "use strict";
                    $('#form_avatar').validate({
                        rules: {                    
                            avatar: {
                                required: true,
                                extension: "jpg,jpeg,png",
                                filesize: 5,
                            }
                        },
                        messages: {                        
                        avatar: {
                            required: "This field is required",
                            extension: "only accepted extension",
                            filesize: "This field is required"
                        }                        
                    },


                    });
                });


} );
        </script>
    </body>

</html>