{{>header_member}}

<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">  </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">

                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">                            
                            <!-- BEGIN MODALS FOR EDIT-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <div class="profile-sidebar">
                                            <!-- PORTLET MAIN -->
                                            <div class="portlet light profile-sidebar-portlet ">

                                                <!-- SIDEBAR MENU -->
                                                <div class="profile-usermenu">
                                                    <ul class="nav">
                                                        <li class="active">
                                                            <a href="#">
                                                                <i class="fa fa-share-square"></i> My Requests </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-book"></i> My Docs </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="fa fa-bookmark"></i> My Bookmarked Items </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- END MENU -->
                                            </div>
                                            <!-- END PORTLET MAIN -->
                                            <!-- PORTLET MAIN -->
                                            <div class="portlet light ">                                    
                                                <div>
                                                    <h3 class="profile-desc-title">Advert</h3>
                                                </div>
                                            </div>
                                            <!-- END PORTLET MAIN -->
                                        </div>
                                        <!-- END BEGIN PROFILE SIDEBAR -->
                                    </div>

                                    <div class="col-md-6">                                        
                                        <!-- BEGIN PORTLET -->
                                        <div class="portlet light ">
                                            <div class="portlet-title" style="border-bottom: 0px;">
                                                <div class="task-footer" style="margin: 2%;">
                                                    <div class=" ">
                                                        <div class="row">
                                                            <a data-toggle="modal" href="#question_modal" class="btn dark btn-outline sbold uppercase col-md-4"><i class="fa fa-comments-o"></i>Ask a question</a>
                                                            <a data-toggle="modal" href="#question_modal" class="btn dark btn-outline sbold uppercase col-md-4"><i class="fa fa-edit"></i>Write an article</a>
                                                            <a data-toggle="modal" href="#question_modal" class="btn dark btn-outline sbold uppercase col-md-4"><i class="fa fa-question"></i>Post a riddle</a>
                                                        </div><br>
                                                        <div class="row">
                                                            <a data-toggle="modal" href="#question_modal" class="btn dark btn-outline sbold uppercase col-md-4"><i class="fa fa-book"></i>Post a book</a>
                                                        </div>                                                      

                                                    </div> 
                                                </div>                                      
                                            </div>                                                                                  
                                            <div class="clearfix"></div> 
                                        </div>

                                        <div class="post_area">
                                            <div class="portlet light post">
                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="fa fa-question"></i>
                                                        <span class="caption-subject  bold uppercase" style="color: #86be25">Question</span>
                                                        <span class="caption-helper">Technology</span>&nbsp;-
                                                        <span class="caption-helper">Start-up</span> &nbsp;-
                                                        <span class="caption-helper">Full</span>
                                                    </div>

                                                    <div class="actions">
                                                        <div class="btn-group">
                                                            <span class="item-status" data-toggle="dropdown" style="cursor: pointer;">
                                                                <i class="fa fa-ellipsis-h"></i>
                                                            </span>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-pencil"></i> Edit </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-trash-o"></i> Delete </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-ban"></i> Share </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;"> Request Answer </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                        <div class="general-item-list">
                                                            <div class="item">
                                                                <div class="item-head">
                                                                    <div class="item-details">
                                                                        <img class="item-pic" src="assets/img/avatar.png">
                                                                        <a href="" class="item-name primary-link">Nick Larson,</a>
                                                                        <span>Author</span>
                                                                        <span class="item-label">3 hrs ago</span>
                                                                    </div>

                                                                </div>
                                                                <div class="item-body"> 
                                                                    <div style="margin-bottom: 3%;">                                                                    
                                                                        <img class="img-responsive" src="assets/img/1.jpg">
                                                                    </div>
                                                                    <div>
                                                                        This is just a test question, others can be viewed later. 
                                                                    </div>
                                                                    <div>

                                                                    </div>
                                                                </div>                                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END PORTLET -->
                                                <div class="task-footer" style="margin: 2%;">
                                                    <a class="btn btn-circle btn-default" href="javascript:;"><span><i class="fa fa-eye"></i><span>&nbsp;0</span>&nbsp;Views</span></a>&nbsp;&nbsp;
                                                    <a class="btn btn-circle btn-default" href="javascript:;"><span><i class="fa fa-heart-o"></i><span>&nbsp;0</span>&nbsp;Likes</span></a>&nbsp;&nbsp;
                                                    <a class="btn btn-circle btn-default" href="javascript:;"><span><i class="fa fa-comment-o"></i><span>&nbsp;0</span>&nbsp;Comments</span></a>&nbsp;&nbsp;
                                                    <a class="btn btn-circle btn-default" href="javascript:;"><span class="item-label"><i class="fa fa-share-alt"></i>&nbsp;Share</span></a>
                                                </div>
                                                <div class="task-footer" style="margin: 2%;">
                                                    <div class="btn-arrow-link ">
                                                        <button type="button" class="btn dark btn-outline sbold uppercase"><i class="icon-pencil"></i>Write your answer</button>
                                                        
                                                    </div>

                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                            
                                        </div>


                                    </div>

                                    <div class="col-md-3"><!--third-->
                                        <div class="row">
                                            <!-- BEGIN PORTLET -->
                                            <div class="portlet light ">
                                                <div class="portlet-title tabbable-line">
                                                    <div class="caption caption-md">
                                                        <i class="icon-globe theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">See What is Trending Now</span>
                                                    </div>

                                                </div>
                                                <div class="portlet-body">
                                                    <!--BEGIN TABS-->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab_1_1">
                                                            <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                                <ul class="feeds">
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc"> Tech industry gets new valuation today ...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Technology </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc"> Uber's Founder Tranck kalanics resigned today...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Startups </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc"> 2 young Nigerian start-ups get funding...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Startups </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc">Trump visits France for G20 Summit...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Politics </div>
                                                                        </div>
                                                                    </li>                                                               

                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!--END TABS-->
                                                </div>
                                            </div>
                                            <!-- END PORTLET -->
                                        </div>

                                        <div class="row">
                                            <!-- BEGIN PORTLET -->
                                            <div class="portlet light  tasks-widget">
                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Check Domiit's Experts</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="task-content">
                                                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                            <!-- START TASK LIST -->
                                                            <ul class="task-list">
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="hidden" value="1" name="test" />
                                                                        <input type="checkbox" class="liChild" name="test" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Dr. Samuel Joseph </span>
                                                                        <span class="label label-sm label-success">Follow</span>

                                                                    </div>

                                                                </li>
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="checkbox" class="liChild" value="" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Mr. Jonathan Eboh </span>
                                                                        <span class="label label-sm label-success">Follow</span>
                                                                    </div>                                                                
                                                                </li>
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="checkbox" class="liChild" value="" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Bellow Umaru </span>
                                                                        <span class="label label-sm label-success">Follow</span>

                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="checkbox" class="liChild" value="" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Titus Bradley </span>
                                                                        <span class="label label-sm label-success">Follow</span>
                                                                    </div>
                                                                </li>

                                                            </ul>
                                                            <!-- END START TASK LIST -->
                                                        </div>
                                                    </div>
                                                    <div class="task-footer">
                                                        <div class="btn-arrow-link pull-right">
                                                            <a href="javascript:;">See All Tasks</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="portlet light  tasks-widget">
                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Adverts</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="task-content">
                                                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END PORTLET -->
                                        </div>

                                    </div>  



                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>

            <!-- START MODAL PORTLET-->

            <div class="portlet-body form">                                         

                <div id="question_modal" class="modal fade" tabindex="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="question_sub1_header">Ask A Question</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="question_form" action="" method="post" enctype="multipart/form-data">
                        <span class="form_submission_error"></span>
                        <span class="form_submission_success"></span>

                            <input type="hidden" name="question_id"  id="question_id" value="">

                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3">Category </label>
                                <div class="col-md-9">
                                    <select class="form-control sel_cat" name="question_category" id="question_category">
                                    {{#each data}}
                                        <option value="{{value}}">{{title}}</option>
                                    {{/each}}   
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3">Sub-Category-1 </label>
                                <div class="col-md-9">
                                    <select class="form-control" name="question_sub1" id="question_sub1">
                                    {{#each sub1_data}}
                                        <option value="{{value}}">{{title}}</option>
                                    {{/each}}   
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3">Sub-Category-2 </label>
                                <div class="col-md-9">
                                    <select class="form-control" name="question_sub2" id="question_sub2">
                                    {{#each sub2_data}}
                                        <option value="{{value}}">{{title}}</option>
                                    {{/each}}   
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label">
                                <textarea  name="question_title" id="question_title" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
                                <label for="form_control_1">Write your question</label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label">
                                <textarea name="question_info" id="question_info" class="form-control" rows="3" style="font-size: 1.2em;font-weight: 600"></textarea>
                                <label for="form_control_1">Provide additional information</label>
                                 <p class="help-block"> Optional </p>
                            </div>

                             <div class="form-group">
                                <label for="question_photo">Add Photo</label>
                                <input type="file" id="question_photo" name="question_photo">
                                <p class="help-block"> Optional </p>
                            </div>
                            <div class="form-actions noborder">
                                <input type="submit" class="btn blue" name="submit" value="Submit" />
                                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                            </div>
                        </form>
                    </div>

                </div>

               
            </div>

            <!-- END MODAL PORTLET-->
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>

            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {{>footer_cms}}

        <script type="text/javascript">

        function resetFields(){
                $('#question_form .form_submission_success').text("");
                $('#question_form .form_submission_error').text("");
            }

        $( document ).ready( function () {
        console.log('doc is ready');

        $( "#question_form" ).validate( {/*validate & submit category details*/
                rules: {  
                    question_category: {
                        required: true
                    },
                    question_title: {
                        required: true,
                    }
                    
                },
                messages: {                        
                    question_category: {
                        required: "This field is required"
                    },
                    question_title: {
                        required: "This field is required"
                    }
                },
                errorElement: "em",
                errorPlacement: function ( error, element ) {
                // Add the `help-block` class to the error element
                error.addClass( "help-block" );

                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
            },
            success: function ( label, element ) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).next( "span" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            },
            unhighlight: function (element, errorClass, validClass) {
                $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            },
            submitHandler: function () {
                resetFields();
                var formData = $('#question_form').serialize();
                console.log(formData);
                var my_url="{{url}}/members/ask_question";

                $.ajax({
                    url:my_url,
                    type:'POST',
                    data:formData,
                    dataType:'json',
                        // contentType: 'application/json', 
                        headers: {'X-My-App-Token': 'loganstyles'},
                        success:function(response){
                            console.log('success');
                            if(response.success==true){
                                console.log('response is true');
                                $('#question_form  .form_submission_success').text(response.msg);
                                setTimeout(function(){
                                    $('#question_form  .form_submission_success').text('');
                                     window.location.href="{{url}}/question_all";
                                },3000);
                                
                            }else{
                                console.log('response is false');
                                $('#question_form  .form_submission_error').text(response.msg);
                            }
                        },
                        error:function(xhr, status, err){
                            console.log('error');
                            console.log(xhr);
                            console.log(status);
                            console.log(err);
                        }
                    });
            }
            } );


        $('body').on('change','.sel_cat',function(){/*get sub1s for selected cat*/
                var selected =$(this).val();
                var selected_id=$(this).attr('id');
                console.log(selected_id);
                var required_id="#"+selected_id.replace('_category','_sub1');
                var required_type=selected_id.replace('_category','');
                console.log(required_id);

                var my_url="{{url}}/cms/selected_cat/"+required_type+"/"+selected;

                    $.ajax({
                        url:my_url,
                        type:'GET',
                            headers: {'X-My-App-Token': 'loganstyles'},
                            success:function(response){
                                console.log(response);
                                $(required_id).html('');
                                $.each(response,function(key,value){
                                    console.log(value.title);
                                    console.log(value.value);
                                    $(required_id).append('<option value="'+value.value+'">'+value.title+'</option>');

                                });
                            },
                            error:function(xhr, status, err){
                                console.log('error');
                                console.log(xhr);
                                console.log(status);
                                console.log(err);
                            }
                        });

            });

            });

            </script>


    </body>

</html>