{{>header_member}}

<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">  </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">

                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">                            
                            <!-- BEGIN MODALS FOR EDIT-->


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <div class="profile-sidebar">
                                            
                                            <!-- <div class="portlet light ">                                    
                                                <div>
                                                    <h3 class="profile-desc-title">Advert</h3>
                                                </div>
                                            </div> -->
                                            <!-- END PORTLET MAIN -->
                                        </div>
                                        <!-- END BEGIN PROFILE SIDEBAR -->
                                    </div>

        <div class="col-md-6">                                        
            <!-- BEGIN PORTLET -->
            <div class="panel panel-default portlet" {{#unless page_response}} style="display: none;"{{/unless}}>
              <div class="panel-body">
                <span class="posts_page_title">{{page_title}}</span>                
              </div>
            </div> 
            <!-- <div class="portlet portlet_domiit ">
                <div class="" style="border-bottom: 0px;">
                    <h3>{{page_title}}</h3>
                </div>                                                                                  
                <div class="clearfix"></div> 
            </div> -->

            <div class="post_responses question_all_post_area">

            {{#each data}}

             <div class="portlet light posted">
             <input type="hidden" id="post_id" value="{{_id}}">
             <input type="hidden" id="post_type" value="{{../page_type}}">

                <div class="portlet-title">
                    <div class="caption caption-md">
                        <!-- <img alt="" class="icon_size_50" src="{{../url}}/images/{{../page_icon}}"> -->
                        <span class="caption-subject  bold post_box_name">{{../page_type}}</span>&nbsp;|
                        {{#if category}}
                        <span class="caption-helper post_category">{{category}}</span>&nbsp;
                        {{/if}}

                        {{#if sub_cat1}}
                        |&nbsp;<span class="caption-helper post_sub_cat1">{{sub_cat1}}</span>&nbsp;
                        {{/if}}

                        {{#if sub_cat2}}
                        |&nbsp;<span class="caption-helper post_sub_cat2">{{sub_cat2}}</span>&nbsp;
                        {{/if}}
                        
                    </div>                       
                </div>
                <div class="portlet-body">
                    <div class="" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div class="item">
                                <div class="item-head">

                                <div style="width: 100%;"><!--main block-->
                                    <div class="posts_partition"><!--1st partition-->
                                        <div style="width: 100%;">
                                            <div class="section_posts_avatar">
                                             <img class="icon_size_50 img-circle" src="{{../url}}/uploads/{{owner.displayPic}}">
                                         </div>
                                         <div class="section_posts_text">
                                            <div> 
                                               <a style="color: #000;" href="" class="item-name primary-link">{{owner.displayName}}</a>
                                           </div>
                                           {{#if owner.status}}
                                           <div>
                                            {{owner.status}}
                                            </div>
                                        {{/if}}

                                        </div>
                                        <div class="clearfix"></div>
                                        </div>

                                    </div>

                                    <div class="posts_partition_middle"><!--2nd partition-->
                                        <span style="">
                                            <img class="icon_size_50" src="{{url}}/images/add_person.png">
                                        </span>
                                    </div>

                                    <div class="posts_partition"><!--3rd partition-->
                                        <div style="margin-left: 60%;">
                                            <div class="fromnow">{{moment post_date "fromNow"}}</div>
                                            <div class="clearfix"></div>
                                            <div class="post_actions_button_left">
                                                <img src="{{url}}/images/group.png">
                                            </div>
                                             {{#if post_owner}}
                                                 <div class="actions post_actions_button">
                                                        <div class="btn-group">
                                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-v"></i>
                                                            </span>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li class="edit_section_item">
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-pencil"></i> Edit </a>
                                                                </li>
                                                                <li class="delete_section_item">
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-trash-o"></i> Delete </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-ban"></i> Request for answer </a>
                                                                </li>                            
                                                            </ul>
                                                        </div>                                           
                                                </div>
                                                {{else}}
                                                <div class="actions" style="display: inline-block;">
                                                        <div class="btn-group">
                                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-v"></i>
                                                            </span>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-pencil"></i> Follow </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-trash-o"></i> Bookmark </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-ban"></i> Report Abuse </a>
                                                                </li>
                                                            </ul>
                                                        </div>                                           
                                                </div>
                                                {{/if}}
                                        </div><!--end float right-->
                                        <div class="clearfix"></div>
                                    </div>

                                <div class="clearfix"></div>
                                </div>                                      
                                    

                                </div>

                                <div class="item-body"> 
                                    {{#if topic}}
                                        <div style="color: #000;font-size: 1.3em;" class="post_item">
                                            {{topic}}
                                        </div>
                                    {{/if}}
                                    {{#if pics.length }}
                                        <div style="margin-bottom: 3%;">                                                                    
                                            <img class="img-responsive" src="{{url}}/uploads/{{pics.[0]}}">
                                        </div>
                                    {{/if}}
                                        <div style="color: #337ab7;" class="post_item">
                                            {{body}}
                                        </div>
                                    
                                </div>  

                                    <div style="width: 100%;"><!--main block-->
                                    

                                        <div class="posts_partition_right"><!--3rd partition-->

                                            <a class="btn btn-link post_likes grey_button" >
                                            <span>
                                                <span class="social_value">{{likes}}</span>&nbsp;
                                                <i class="fa fa-heart-o"></i>&nbsp;Likes
                                            </span>
                                            </a>&nbsp;

                                            <span class="grey_button">
                                                    <span class="social_value">{{answers_len}}</span>&nbsp;
                                                    <i class="fa fa-comment-o"></i>&nbsp;
                                                    {{../page_response}}s
                                                </span>

                                            <a class="btn btn-link post_shares grey_button">
                                                <span class="item-label">
                                                    <span class="social_value">{{shares}}</span>&nbsp;
                                                    <i class="fa fa-share-alt"></i>&nbsp;
                                                    Shares                                
                                                </span>
                                            </a>

                                        </div>

                                    <div class="clearfix"></div>
                                </div>
                                <!-- <hr> -->


                            </div>
                        </div>
                    </div>
                </div>

                    <!--answers-->

                    {{#each answers}}

                        {{#if @last}}
                        <div style="border: 1px solid #ddd;padding: 1%;">

                    <div>
                        <div class="caption caption-md">
                            <span class="caption-subject  bold post_box_name">New {{../../page_response}}</span>
                            
                        </div>                       
                    </div>
                    <div class="portlet-body response_area">
                        <div class="" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <div class="general-item-list">
                                <div class="item">
                                    <div class="item-head">

                                    <div style="width: 100%;"><!--main block: display the latest answer-->
                                        <div class="posts_partition"><!--1st partition-->
                                        <div style="width: 100%;">
                                                <div class="section_posts_avatar">
                                                   <img class="icon_size_50 img-circle" src="{{../url}}/uploads/{{responderDisplayPic}}">
                                                </div>
                                                <div class="section_posts_text">
                                                    <div> 
                                                     <a style="color: #000;" href="" class="item-name primary-link">{{responderDisplayName}}</a>
                                                     </div>
                                                     {{#if responderStatus}}
                                                        <div>
                                                        {{responderStatus}}
                                                        </div>
                                                      {{/if}}
                                                    
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                        </div>

                                        <div class="posts_partition_middle"><!--2nd partition-->
                                            <span style="">
                                                <img class="icon_size_50" src="{{url}}/images/add_person.png">
                                            </span>
                                        </div>

                                        <div class="posts_partition"><!--3rd partition-->
                                            <div style="margin-left: 60%;">
                                                <div class="fromnow">{{moment post_date "fromNow"}}</div>
                                                <div class="clearfix"></div>
                                                <div class="post_actions_button_left">
                                                    <img src="{{url}}/images/group.png">
                                                </div>
                                                 {{#if post_owner}}
                                                 <div class="actions post_actions_button">
                                                        <div class="btn-group">
                                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-v"></i>
                                                            </span>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li class="edit_section_item">
                                                                    <a href="#">
                                                                        <i class="fa fa-pencil"></i> Edit </a>
                                                                </li>
                                                                <li class="delete_section_item">
                                                                    <a href="#">
                                                                        <i class="fa fa-trash-o"></i> Delete </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-ban"></i> Request for answer </a>
                                                                </li>                            
                                                            </ul>
                                                        </div>                                           
                                                </div>
                                                {{else}}
                                                <div class="actions post_actions_button" style="">
                                                        <div class="btn-group">
                                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-v"></i>
                                                            </span>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li class="follow_section_item">
                                                                    <a href="#">
                                                                        <i class="fa fa-plus"></i> Follow </a>
                                                                </li>
                                                                <li class="bookmark_section_item">
                                                                    <a href="#">
                                                                        <i class="fa fa-bookmark"></i> Bookmark </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-ban"></i> Report Abuse </a>
                                                                </li>
                                                            </ul>
                                                        </div>                                           
                                                </div>
                                                {{/if}}
                                                <div class="clearfix"></div>
                                            </div><!--end float right-->
                                            <div class="clearfix"></div>
                                        </div>

                                    <div class="clearfix"></div>
                                    </div>                                      
                                        

                                    </div>

                                    <div class="item-body"> 
                                        {{#if pics.length }}
                                            <div style="margin-bottom: 3%;">                                                                    
                                                <img class="img-responsive" src="{{url}}/uploads/{{pics.[0]}}">
                                            </div>
                                        {{/if}}
                                            <div style="color: #000;" class="post_response">
                                                {{body}}
                                            </div>
                                        
                                    </div>  

                                        <div style="width: 100%;"><!--main block-->
                                        

                                            <div class="posts_partition_right"><!--3rd partition-->

                                                
                                                <a class="btn btn-link grey_button">
                                                    <span>
                                                        <span class="social_value">{{views}}</span>&nbsp;&nbsp;
                                                        Views
                                                    </span>
                                                </a>&nbsp;|

                                                <a class="btn btn-link post_shares orange_link">About this post
                                                    
                                                </a>

                                            </div>

                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- <hr> -->


                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                            


                    <!-- END PORTLET -->
                    <div class="response_votes div_vote_comments">
                        <input type="hidden" id="post_response_id" value="{{_id}}">

                        <a class="btn btn-link post_upvotes grey_button" >
                        <span>
                            <span class="social_value">{{upvotes}}</span>
                            <img src="{{url}}/images/up_vote.png">&nbsp;Upvotes
                        </span>
                        </a>&nbsp;&nbsp;

                        <a class="btn btn-link post_downvotes grey_button" >
                            <span>
                                <span class="social_value">{{downvotes}}</span>
                                <img src="{{url}}/images/down_vote.png">&nbsp;Downvotes
                            </span>
                        </a>&nbsp;&nbsp;

                        <a class="btn btn-link grey_button">
                            <span class="">
                                <span class="social_value">{{comments.length}}</span>
                                <img src="{{url}}/images/comments.png">&nbsp;Comments
                            </span>
                        </a>
                    </div>

                    <div class="div_other_add_buttons">
                        <a href="{{url}}/posts/section/{{../../page_type}}/all_responses/{{../_id}}">
                        <div class="other_add_buttons" style="border-right: 1px solid #666;">
                            View Other {{../../page_response}}s                            
                        </div>
                        </a>

                        <a href="#" class="response_button">
                            <div class="other_add_buttons">Add Your {{../../page_response}}                            
                            </div>
                        </a>

                    </div>
                    <div class="clearfix"></div>

                        {{/if}}

                    {{/each}}

                </div>
            {{/each}}
            </div>


        </div>

                                    <div class="col-md-3"><!--third-->
                                        <div class="row">
                                            <!-- BEGIN PORTLET -->
                                            <!-- <div class="portlet light "> -->
                                                <!-- <div class="portlet-title tabbable-line">
                                                    <div class="caption caption-md">
                                                        <i class="icon-globe theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">See What is Trending Now</span>
                                                    </div>

                                                </div> -->
                                                <!-- <div class="portlet-body"> -->
                                                    <!--BEGIN TABS-->
                                                    <!-- <div class="tab-content">
                                                        <div class="tab-pane active" id="tab_1_1">
                                                            <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                                <ul class="feeds">
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc"> Tech industry gets new valuation today ...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Technology </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc"> Uber's Founder Tranck kalanics resigned today...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Startups </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc"> 2 young Nigerian start-ups get funding...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Startups </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="col1">
                                                                            <div class="cont">
                                                                                <div class="cont-col1">
                                                                                    <div class="label label-sm label-success">
                                                                                        <i class="fa fa-bullhorn"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="cont-col2">
                                                                                    <div class="desc">Trump visits France for G20 Summit...(more) </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col2">
                                                                            <div class="date"> - Politics </div>
                                                                        </div>
                                                                    </li>                                                               

                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div> -->
                                                    <!--END TABS-->
                                                <!-- </div> -->
                                            </div>
                                            <!-- END PORTLET -->
                                        </div>

                                        <div class="row">
                                            <!-- BEGIN PORTLET -->
                                            <!-- <div class="portlet light  tasks-widget">
                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Check Domiit's Experts</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="task-content">
                                                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                                            <ul class="task-list">
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="hidden" value="1" name="test" />
                                                                        <input type="checkbox" class="liChild" name="test" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Dr. Samuel Joseph </span>
                                                                        <span class="label label-sm label-success">Follow</span>

                                                                    </div>

                                                                </li>
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="checkbox" class="liChild" value="" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Mr. Jonathan Eboh </span>
                                                                        <span class="label label-sm label-success">Follow</span>
                                                                    </div>                                                                
                                                                </li>
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="checkbox" class="liChild" value="" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Bellow Umaru </span>
                                                                        <span class="label label-sm label-success">Follow</span>

                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="task-checkbox">
                                                                        <input type="checkbox" class="liChild" value="" /> </div>
                                                                    <div class="task-title">
                                                                        <span class="task-title-sp"> Titus Bradley </span>
                                                                        <span class="label label-sm label-success">Follow</span>
                                                                    </div>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="task-footer">
                                                        <div class="btn-arrow-link pull-right">
                                                            <a href="javascript:;">See All Tasks</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>

                                        <!-- <div class="row">
                                            <div class="portlet light  tasks-widget">
                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">Adverts</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="task-content">
                                                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->

                                    </div>  



                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>

            <!-- START MODAL PORTLET-->

            <div class="portlet-body form">  

            <div id="section_response_modal" class="modal fade" tabindex="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="section_response_header">{{page_response}}</h4>
                    </div>
                    <div class="modal-body">
                 <form role="form" id="section_response_form" action="" method="post" enctype="multipart/form-data">
                        <span class="form_submission_error"></span>
                        <span class="form_submission_success"></span>

                            <input type="hidden" name="section_response_id"  id="section_response_id" >
                            <input type="hidden" name="section_response_type"  id="section_response_type" >

                            <h5 id="section_response_body">{{page_response}}s</h5>                           

                            <div class="form-group">
                                <textarea  name="section_response_details" id="section_response_details" class="form-control" rows="3" style="font-weight: 500"></textarea>
                                <label for="form_control_1">Write your {{page_response}}</label>
                            </div>
                            

                             <div class="form-group">
                             <label for="section_response_photo" class="custom-file-upload">
                                    <i class="fa fa-camera"></i> Add Photo
                                </label>
                                <input id="section_response_photo" name="section_response_photo" type="file" accept="application/x-zip-compressed,image/*"/>
                                <p class="help-block"> Optional </p>
                            </div>
                            <div class="form-actions noborder">
                                <input type="submit" class="btn blue" name="submit" value="Answer" />
                                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
               
            </div>


            <!-- END MODAL PORTLET-->
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>

            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        {{>footer_cms}}

        <script type="text/javascript">

            $( document ).ready( function () {

                
            });

            </script>


    </body>

</html>