{{>header_member}}

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">  </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">

                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">                            
                    <!-- BEGIN MODALS FOR EDIT-->


                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <!-- BEGIN PROFILE SIDEBAR -->
                                <div class="profile-sidebar">
<!-- 
                                    <div class="portlet light ">                                    
                                        <div>
                                            <h3 class="profile-desc-title">Advert</h3>
                                        </div>
                                    </div> -->
                                    <!-- END PORTLET MAIN -->
                                </div>
                                <!-- END BEGIN PROFILE SIDEBAR -->
                            </div>

                            <div class="col-md-6">                                        
                                <!-- BEGIN PORTLET -->
                                <div class="panel panel-default portlet" {{#unless page_response}} style="display: none;"{{/unless}}>
                                  <div class="panel-body">
                                    <span class="posts_page_title">{{page_title}}</span>                
                                  </div>
                                </div> 
                                
            <div class="question_all_post_area">

                {{#each data}}

                <div class="portlet light posted">
                   <input type="hidden" id="post_id" value="{{_id}}">
                   <input type="hidden" id="post_type" value="{{../page_type}}">

                   <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject  bold post_box_name">{{../page_type}}</span>
                        {{#if category}}
                        <span class="caption-helper post_category grey_cats left_border">{{category}}</span>
                        {{/if}}

                        {{#if sub_cat1}}
                        <span class="caption-helper post_sub_cat1 grey_cats left_border">{{sub_cat1}}</span>
                        {{/if}}

                        {{#if sub_cat2}}
                        <span class="caption-helper post_sub_cat2 grey_cats left_border">{{sub_cat2}}</span>
                        {{/if}}

                    </div>                       
                </div>
                <div class="portlet-body">
                    <div class="" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div class="item">
                                <div class="item-head">

                                    <div style="width: 100%;"><!--main block-->
                                        <div class="posts_partition"><!--1st partition-->
                                        <div style="width: 100%;">
                                                <div class="section_posts_avatar">
                                                   <img class="icon_size_50 img-circle" src="{{../url}}/{{owner.displayPic}}">
                                                </div>
                                                <div class="section_posts_text">
                                                    <div> 
                                                     <a style="font-weight: 600;" href="" class="item-name">{{owner.displayName}}</a>
                                                     </div>
                                                     {{#if owner.status}}
                                                        <div class="post_item_body_status">
                                                        {{owner.status}}
                                                        </div>
                                                      {{/if}}
                                                    
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>

                                        <div class="posts_partition_middle"><!--2nd partition-->
                                            <span style="">
                                            {{#if trend_status}}<!--trend post-->
                                                    {{#if trend_followed}}
                                                        <img class="icon_size_50 " src="{{../url}}/images/filler.png">
                                                    {{else}}
                                                    <a href="javascript:;" class="btn blue">
                                                        <i class="fa fa-plus"></i>&nbsp; Follow</a>

                                                    {{/if}}
                                            {{else}}<!--other post:questio etc-->
                                                    {{#if post_owner}}
                                                        <img class="icon_size_50 " src="{{../url}}/images/filler.png">
                                                        {{else}}
                                                        <img class="icon_size_50 " src="{{../url}}/images/add_person.png">
                                                    {{/if}}

                                            {{/if}}
                                            
                                            </span>
                                        </div>

                                        <div class="posts_partition"><!--3rd partition-->
                                            <div style="margin-left: 60%;">
                                                <div class="fromnow">{{moment post_date "fromNow"}}</div>
                                                <div class="clearfix"></div>
                                                <div class="post_actions_button_left">
                                                    <img class="icon_size_20" src="{{../url}}/images/mask.png">
                                                </div>
                                                {{#if post_owner}}
                                                 <div class="actions post_actions_button">
                                                        <div class="btn-group">
                                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-v"></i>
                                                            </span>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li class="edit_section_item">
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-pencil"></i> Edit </a>
                                                                </li>
                                                                <li class="delete_section_item">
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-trash-o"></i> Delete </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-ban"></i> Request for answer </a>
                                                                </li>                            
                                                            </ul>
                                                        </div>                                           
                                                </div>
                                                {{else}}
                                                <div class="actions post_actions_button">
                                                        <div class="btn-group">
                                                            <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                                <i class="fa fa-ellipsis-v"></i>
                                                            </span>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-pencil"></i> Follow </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-trash-o"></i> Bookmark </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:;">
                                                                        <i class="fa fa-ban"></i> Report Abuse </a>
                                                                </li>
                                                            </ul>
                                                        </div>                                           
                                                </div>
                                                {{/if}}
                                                        </div><!--end float right-->
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                </div>                                      


                                            </div>

                                            <div class="item-body">
                                            {{#if topic}}
                                                <div class="post_item post_item_topic">
                                                    {{topic}}
                                                </div>
                                            {{/if}}

                                                {{#if pics.length }}
                                                <div style="margin-bottom: 3%;">                                                                    
                                                    <img class="img-responsive" src="{{../url}}/uploads/{{pics.[0]}}">
                                                </div>
                                                {{/if}}


                                                {{#if art_status}}
                                            <hr class="short_length">
                                                <div class="post_item post_item_body">
                                                {{else}}
                                                <div class="post_item post_item_topic">
                                                {{/if}}
                                                    {{body}}
                                                
                                                </div>

                                                    {{#if description}}
                                                    <hr class="short_length">
                                                    <div class="post_item post_item_more_info">
                                                        {{description}}
                                                    </div>
                                                    {{/if}}
                                                
                                             <br>

                                            </div>  

                                            <div style="width: 100%;"><!--main block-->


                                                <div class="posts_partition_right"><!--3rd partition-->

                                                    <a class="btn btn-link post_likes">
                                                        <span class="grey_button">
                                                            <span class="social_value">{{likes}}</span>
                                                            <i class="fa fa-heart-o"></i>&nbsp;Likes
                                                        </span>
                                                    </a>

                                                    <a class="btn btn-link ">
                                                    <span class="grey_button">
                                                        <span class="social_value">{{answers_len}}</span>
                                                        <i class="fa fa-comment-o"></i>&nbsp;
                                                        Answers
                                                    </span>
                                                    </a>

                                                    <a class="btn btn-link post_shares ">
                                                        <span class="item-label grey_button">
                                                            <span class="social_value">{{shares}}</span>
                                                            <i class="fa fa-share-alt"></i>&nbsp;
                                                            Shares                                
                                                        </span>
                                                    </a>

                                                </div>

                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- <hr> -->


                                        </div>
                                    </div>
                                </div>
                    </div>

                    <!--answers-->                                        

                    <div>
                        <div class="caption caption-md">
                            <!-- <i class="fa fa-question"></i> -->
                            <span class="caption-subject  bold post_box_name" style="color: #86be25">{{answers.length}} Answer(s)</span>

                        </div>                       
                    </div>
                    {{#each answers}}
                    <div class="portlet-body" style="border: 1px solid #ddd;padding: 1%;margin-bottom: 1%;">
                        <div class="" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <div class="general-item-list">
                                <div class="item">
                                    <div class="item-head">

                                        <div style="width: 100%;"><!--main block: display the latest answer-->
                                            <div class="posts_partition"><!--1st partition-->
                                            <div style="width: 100%;">
                                                <div class="section_posts_avatar">
                                                   <img class="icon_size_50 img-circle" src="{{../url}}/uploads/{{responderDisplayPic}}">
                                                </div>
                                                <div class="section_posts_text">
                                                    <div> 
                                                     <a style="color: #000;" href="" class="item-name primary-link">{{responderDisplayName}}</a>
                                                     </div>
                                                     {{#if responderStatus}}
                                                        <div>
                                                        {{responderStatus}}
                                                        </div>
                                                      {{/if}}
                                                    
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            </div>

                                            <div class="posts_partition_middle"><!--2nd partition-->
                                                <span style="">
                                                {{#if ../trend_status}}<!--trend post-->
                                                    {{#if ../trend_followed}}
                                                        <img class="icon_size_50 " src="{{../url}}/images/filler.png">
                                                    {{else}}
                                                    <a href="javascript:;" class="btn blue">
                                                        <i class="fa fa-plus"></i>&nbsp; Follow</a>

                                                    {{/if}}
                                                {{else}}<!--other post:questio etc-->
                                                        {{#if post_owner}}
                                                            <img class="icon_size_50 " src="{{../url}}/images/filler.png">
                                                            {{else}}
                                                            <img class="icon_size_50 " src="{{../url}}/images/add_person.png">
                                                        {{/if}}

                                                {{/if}}
                                                
                                                </span>
                                            </div>

                            <div class="posts_partition"><!--3rd partition-->
                                <div class="pull-right">
                                    <div class="fromnow">{{moment post_date "fromNow"}}</div>
                                    <div class="clearfix"></div>
                                    
                                    <div class="post_actions_button_left">
                                        <img class="icon_size_20" src="{{../url}}/images/mask.png">
                                    </div>
                                    {{#if post_owner}}
                                     <div class="actions post_actions_button">
                                            <div class="btn-group">
                                                <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </span>
                                                <ul class="dropdown-menu pull-right">
                                                    <li class="edit_section_item">
                                                        <a href="#">
                                                            <i class="fa fa-pencil"></i> Edit </a>
                                                    </li>
                                                    <li class="delete_section_item">
                                                        <a href="#">
                                                            <i class="fa fa-trash-o"></i> Delete </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-ban"></i> Request for answer </a>
                                                    </li>                            
                                                </ul>
                                            </div>                                           
                                    </div>
                                    {{else}}
                                    <div class="actions post_actions_button">
                                            <div class="btn-group">
                                                <span class="item-status cursor_dropper" data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </span>
                                                <ul class="dropdown-menu pull-right">
                                                    <li class="follow_section_item">
                                                        <a href="#">
                                                            <i class="fa fa-plus"></i> Follow </a>
                                                    </li>
                                                    <li class="bookmark_section_item">
                                                        <a href="#">
                                                            <i class="fa fa-bookmark"></i> Bookmark </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-ban"></i> Report Abuse </a>
                                                    </li>
                                                </ul>
                                            </div>                                           
                                    </div>
                                    {{/if}}
                                            </div><!--end float right-->
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>                                      


                                </div>

                                <div class="item-body"> 
                                    {{#if pics.length }}
                                    <div style="margin-bottom: 3%;">                                                                    
                                        <img class="img-responsive" src="{{../../url}}/uploads/{{pics.[0]}}">
                                    </div>
                                    {{/if}}
                                    <div style="color: #000;" class="post_question post_item_body">
                                        {{body}}
                                    </div>

                                </div>  <br>

                                <div style="width: 100%;"><!--main block-->


                                    <div class="posts_partition_full"><!--3rd partition-->
                        <div class="response_votes">
                        <input type="hidden" id="post_response_id" value="{{_id}}">

                        <a class="btn btn-link post_upvotes "  >
                            <span class="grey_button">
                                <span class="social_value">{{upvotes}}</span>
                                <i class="fa fa-long-arrow-up"></i>
                            <!-- <img src="{{../url}}/images/up_vote.png">&nbsp; -->
                            Upvotes
                            </span>
                        </a>

                        <a class="btn btn-link post_downvotes " >
                            <span class="grey_button">
                                <span class="social_value">{{downvotes}}</span>
                                <i class="fa fa-long-arrow-down "></i>
                                <!-- <img src="{{../url}}/images/down_vote.png"> -->
                                Downvotes
                            </span>
                        </a>

                        <a class="btn btn-link ">
                            <span class="grey_button">
                                <span class="social_value">{{comments.length}}</span>
                                <img src="{{../../url}}/images/comments.png">&nbsp;Comments
                            </span>
                        </a>
                    </div>

                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                <!-- <hr> -->


                                            </div>
                                        </div>
                                    </div>
                        </div>



                    <!-- END PORTLET -->
                    
                     {{/each}}

                    <div class="div_other_add_buttons" >
                        <a href="#">
                            <div class="other_add_buttons" style="border-right: 1px solid #666;">
                                Add Your {{../page_response}}                            
                            </div></a>

                            <a href="#">
                                <div class="other_add_buttons">Sort {{../page_response}}                            
                                </div>

                    </div>
                    <div class="clearfix"></div>
                            
                           

                        </div>
                        {{/each}}
                    </div>


                                            </div>

                                            <div class="col-md-3"><!--third-->
                                                <div class="row">
                                                </div>
                                                <!-- END PORTLET -->
                                            </div>

                                            <div class="row">
                                            </div>


                                        </div>  



                                                </div>
                                            </div>
                                        </div>
                                        <!-- END PAGE CONTENT INNER -->
                                    </div>
                                </div>
                                <!-- END PAGE CONTENT BODY -->
                                <!-- END CONTENT BODY -->
                            </div>

                            <!-- START MODAL PORTLET-->

                            <div class="portlet-body form">  

                            <div id="section_response_modal" class="modal fade" tabindex="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="section_response_header">{{page_response}}</h4>
                    </div>
                    <div class="modal-body">
                 <form role="form" id="section_response_form" action="" method="post" enctype="multipart/form-data">
                        <span class="form_submission_error"></span>
                        <span class="form_submission_success"></span>

                            <input type="hidden" name="section_response_id"  id="section_response_id" >
                            <input type="hidden" name="section_response_type"  id="section_response_type" >

                            <div class="post_item_topic" id="section_response_topic"></div>
                            <div class="post_item_body" id="section_response_body"></div>
                            <div class="post_item_more_info" id="section_response_more_info"></div>                           

                            <div class="form-group">
                                <textarea  name="section_response_details" id="section_response_details" class="form-control" rows="3" style="font-weight: 500"></textarea>
                                <label for="form_control_1">
                                <i class="fa fa-edit"></i>&nbsp;Write your {{page_response}}</label>
                            </div>
                            

                             <div class="form-group">
                             <label for="section_response_photo" class="custom-file-upload">
                                    <i class="fa fa-camera"></i> Add Photo
                                </label>
                                <input id="section_response_photo" name="section_response_photo" type="file" accept="application/x-zip-compressed,image/*"/>
                                <p class="help-block"> Optional </p>
                            </div>
                            <div class="form-actions noborder">
                                <input type="submit" class="btn blue" name="submit" value="Answer" />
                                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                            </div>
                        </form>
                    </div>

                </div>                                       

                                <!-- <div id="section_answer_modal" class="modal fade" tabindex="-1">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title" id="section_answer_header">Answer</h4>
                                    </div>
                                    <div class="modal-body">
                                       <form role="form" id="section_answer_form" action="" method="post" enctype="multipart/form-data">
                                        <span class="form_submission_error"></span>
                                        <span class="form_submission_success"></span>

                                        <input type="hidden" name="section_answer_id"  id="section_answer_id" >
                                        <input type="hidden" name="section_answer_type"  id="section_answer_type" >

                                        <h5 id="section_answer_body">Answer</h5>                           

                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <textarea  name="section_answer_details" id="section_answer_details" class="form-control" rows="3" style="font-weight: 500"></textarea>
                                            <label for="form_control_1">Write your answer</label>
                                        </div>


                                         <div class="form-group">
                                         <label for="section_answer_photo" class="custom-file-upload">
                                                <i class="fa fa-camera"></i> Add Photo
                                            </label>
                                            <input id="section_answer_photo" type="file" accept="application/x-zip-compressed,image/*"/>
                                            <p class="help-block"> Optional </p>
                                        </div>
                            
                                        <div class="form-actions noborder">
                                            <input type="submit" class="btn blue" name="submit" value="Answer" />
                                            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                                        </div>
                                    </form>
                                </div> -->

                            </div>


                        </div>


                        <!-- END MODAL PORTLET-->
                        <!-- END CONTENT -->
                        <!-- BEGIN QUICK SIDEBAR -->
                        <a href="javascript:;" class="page-quick-sidebar-toggler">
                            <i class="icon-login"></i>
                        </a>

                        <!-- END QUICK SIDEBAR -->
                    </div>
                    <!-- END CONTAINER -->
                    {{>footer_cms}}

                    <script type="text/javascript">

                        $( document ).ready( function () {

                            

                        });

                    </script>


                </body>

                </html>