@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

.navbar-default .navbar-nav>li>a {
  color: white;
}

.badge.badge-default {
    background-color: #f36a5a !important;
    color: #fff !important;
    /*right: -5px;*/
}