/*member styles*/

.general-item-list>.item>.item-head>.item-details{
	width: 100%;
}

.posts_partition{
	width: 45%;
	display: inline-block;
	color: #000;
}

.posts_partition_full{
	/*width: 45%;*/
	display: inline-block;
	color: #000;
	margin: 2% 0 0 0;
}

.posts_partition_middle{
	width: 5%;
	display: inline-block;
	color: #000;
}

.posts_partition_right{
	/*width: 30%;*/
	float: right;
	display: inline-block;
	color: #000;
}