/*member styles*/

.general-item-list>.item>.item-head>.item-details{
	width: 100%;
}

.posts_partition{
	width: 45%;
	display: inline-block;
	color: #000;
}

.posts_partition_full{
	/*width: 45%;*/
	display: inline-block;
	color: #000;
	margin: 2% 0 0 0;
}

.posts_partition_middle{
	width: 5%;
	display: inline-block;
	color: #000;
}

.posts_partition_right{
	/*width: 30%;*/
	float: right;
	display: inline-block;
	color: #000;
}

.posts_pab_itemtitle{
     float: left;
     font-weight: 600;
     width: 30%;
}

.posts_pab_itemdetails{
     float: left;
     width: 60%;
     text-align: left;
}

.posts_pab_itemimage{
     width: 30%;
     display: inline-block;
     float: left;
     padding-right: 3%;
}

.posts_pab_itemright{
     width: 60%;
     display: inline-block;
     float: left;
}

.posts_pab_itemright_row{
     padding: 4% 0;
     width: 100%;
}

/*profile*/
.profile_area{
	background-color: #fff;
	color: #000;
	box-shadow: 0 2px 3px 2px rgba(0,0,0,.3);
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;   
	border-radius: 2px; 
	padding: 1%;
	/*margin-top: 3%;*/
}

.profile_top{
	/**/
}




.profile_img{
	/*position: relative;*/
	/*height: auto;*/
	width: 100%;
	padding-top: 100%;
	background: #444;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 50%; 
	/* Firefox 1-3.6 */
	-moz-border-radius: 50%;   
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 50%; 
	/* Prevent background color leak outs */
	-webkit-background-clip: padding-box; 
	-moz-background-clip:    padding; 
	background-clip:         padding-box;
}



.profile_img_text{	
	color: #000;
     /*color: #86be25;*/
	text-align: center;
}


.thin_border_top{
	border-top: solid 1px #ccc;
	padding: 2% 0 2% 0;
	margin-top: 2%;
}

.profile_hr{
	width: 80%;	
	margin:16vh auto 0 auto;

}

.profile_section_top_button{
	width: 25%;	
	margin:0 auto;

}

.profile_text_section.line_space{
	padding: 4% 0;
	width: 100%;
}

.profile_text_section.line_space .profile_text_head{
	width: 30%;
	float: left;
	text-align: left;
	display: inline-block;
}

.profile_text_section.line_space .profile_text_body{
	width: 60%;
	float: left;
	text-align: left;
	display: inline-block;
}

.profile_text_section.multiple .profile_text_head{
	text-align: left;
	font-size: 1.2em;
}

.profile_text_section.multiple .profile_subitem{
	width: 100%;
	margin-bottom: 5%;
}

.profile_text_section.multiple .profile_text_body,.section_title{
	width: 60%;
	float: left;
}

.profile_text_section.multiple .profile_text_body_icons .action_icons,.section_icon{
	float: right;
	padding: 1% 0;
	cursor: pointer;	
	width: 30%;
}

.profile_text_section.multiple .profile_text_body_icons .action_icons.hide_edit_icons img{
	display: none;
	
}

.action_icons{
	float: right;
}
.profile_text_section.multiple .profile_text_body_icons .action_icons img{
	float: right;
	display: block;
}


/*.object-fit_fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.object-fit_contain {
  -o-object-fit: contain;
     object-fit: contain;
     }*/

     .object-fit_cover {
     	-o-object-fit: cover;
     	object-fit: cover;
     }

     .profile_bios{
     	border-right: solid 1px #ccc;
     }

     .profile_text_head{
     	font-weight: 600;
     	font-size: 1em;
     }

     .profile_text_body{
     	margin-left: 6%;
     }

     .bottom_see_more,.profile_editicon{
     	float: right;
     }

     .bottom_see_more_left{
     	float: left;
     }

     .profile_editicon_container{
     	width:100%;
     	cursor: pointer;
     	padding: 1%;
     }

     /*images*/

     .profile_bgimg_container{
     	height: 180px;
     	width: 100%;
     	position: relative;
     	/*background-color: #ccc;*/
          background: url(../../../images/profile_bg.jpg) no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
     }

     .pro_bgimage{
     	float: left;
     }


     .pro_bgimage img {
     	height: 180px; 
     	width: 100%;  		
     }

     .profile_img_container{
     	background-color: #fff;
     	height: 200px;
     	width: 200px;
     	position: absolute;
     	left: 50%;
     	top:13vh;
     	margin-left: -100px;
     	-webkit-border-radius: 50%;
     	-moz-border-radius: 50%; 
     	border-radius: 50%;
          border: 0px solid #fff;
     }

     .pro_image{
     	float: left;
     }

     .pro_image img {
     	height: 200px; 
     	width: 200px;
     	-webkit-border-radius: 50%;
     	-moz-border-radius: 50%; 
     	border-radius: 50%;
          border: 0px solid #fff;
     }

     /*toggle cntent*/
     .morecontent span {
     	display: none;
     }
     .morelink {
     	display: block;
     }

     .more{
     	text-align: justify;
     }

     /*modal*/
     .modal_width{
     	width: 650px;
     	/*margin-right:10%;*/
     }


     /*icons*/
     .icon_size{
     	width: 28px;
     	height: 28px;
     }

     .icon_size_15{
     	width: 15px;
     	height: 15px;
     }

     .icon_size_40{
     	width: 40px;
     	height: 40px;
     }

     .swap_icons img:last-child{display:none}
     .swap_icons:hover img:first-child{display:none}
     .swap_icons:hover img:last-child{display:inline-block}

     

     /*file upload*/
     input[type="file"] {
         display: none;
     }
     .custom-file-upload {
         border: 1px solid #ccc;
         display: inline-block;
         padding: 6px 12px;
         cursor: pointer;
     }

     #section_update_header{
          text-transform: uppercase; 
     }

     /*category rows*/
     .page_row.active{
         background-color: #eee; 
     }


    .page_row:hover{
        cursor: pointer;
        background-color: #666 !important;
    }